---
# Variables for all hosts

##################################################################################
# Customer specific information
##################################################################################
customer:

  # Official build name
  name: '{{ environment_definition.customer.name }}'

  # Release version
  release: '{{ environment_definition.customer.release_version }}'

  # Disaster recovery (boolean yes/no)
  disaster_recovery: {{ environment_definition.customer.disaster_recovery }}

  primary:

    # Primary name prefix
    name_prefix: '{{ environment_definition.customer.primary.name_prefix }}'

    # Primary first 3 octets
    octets: '{{ environment_definition.customer.primary.octets }}'

  secondary:

    # Secondary name prefix
    name_prefix: '{{ environment_definition.customer.secondary.name_prefix if environment_definition.customer.disaster_recovery else "" }}'

    # Secondary first 3 octets
    octets: '{{ environment_definition.customer.secondary.octets if environment_definition.customer.disaster_recovery else "" }}'


##################################################################################
# Datacenter where the stack is to be built in
##################################################################################
datacenter:

  # Available datacenters: RTP5, PAE-Customer-Build, cdra-Build-Development, PAE-HX-DC
  name: '{{ environment_definition.datacenter.name }}'

  # Mandatory for UCM type of deployments
  # The primary stack cluster name
  pcluster: '{{ environment_definition.datacenter.pcluster if environment_definition.datacenter.pcluster != none else "" }}'

  # The secondary stack cluster name
  scluster: '{{ environment_definition.datacenter.scluster if (environment_definition.customer.disaster_recovery and environment_definition.datacenter.scluster != none) else "" }}'

  # ONLY for on-premise deployments, define the list of esxi hosts (resources) to use
  # For hosted deployments DO NOT TOUCH
  resources: [ '{{ resources|join(',')|replace(",", "', '") if (environment_definition.customer.deployment_model is regex('a|u') and environment_definition.customer.deployment_model is not search('h')) else "" }}' ]


##################################################################################
# Nexus information
##################################################################################
nexus:
  address: [ '172.30.240.253', '172.30.240.254' ]


##################################################################################
# If a bastion server (a.k.a linux jump server) is to be used, the address must be provided
##################################################################################
bastion:
  address: {{ "[ '10.225.228.240' ]" if use_bastion else [] }}


##################################################################################
# System configuration variables
##################################################################################
sysconfig:

  # DNS servers list
  dns_servers: [ '172.19.251.21', '172.19.251.22' ]

  # Domain name to use
  domain_name: 'cisco-cms.com'

  # NTP server
  ntp_server: "{{ '{{ customer.primary.octets }}' + '.62' }}"
  secondary_ntp_server: "{{ '{{ customer.secondary.octets }}' + '.62' if environment_definition.customer.disaster_recovery else '' }}"


##################################################################################
# Puppet server information: ensure you are pointing to the correct puppet server
##################################################################################
puppet:

  # VM name
  vmname: '{{ environment_definition.puppet.server_name }}'

  # FQDN
  fqdn: '{{ environment_definition.puppet.server_name }}.cisco-cms.com'

  # ip address
  ipaddress: '{{ [ "172.19.251.53", "172.19.251.59", "172.19.251.34", "172.19.251.66" ][environment_definition.puppet.server_name[-1:]|int-1] }}'


##################################################################################
# Yum server information
##################################################################################
yum:

  # baseurl
  baseurl: 'https://{{ environment_definition.yum.server_name }}.cisco-cms.com'

  # VM name
  vmname: '{{ environment_definition.yum.server_name }}'

  # FQDN
  fqdn: '{{ environment_definition.yum.server_name }}.cisco-cms.com'

  # ip address
  ipaddress: '{{ [ "172.19.251.54", "172.19.251.52" ][environment_definition.yum.server_name[-1:]|int-1] }}'


##################################################################################
# Splunk information. Although the values in this section do not typically change from one customer to another, ensure they are correct 
##################################################################################
splunk:

  # head-end deployment
  he_deployment_server_ip: '172.19.252.21'
  he_deployment_server: 'splds.gslb.cisco-cms.com'

  # license master
  license_master_ip: '172.19.252.22'
  license_master_server: 'spllic.gslb.cisco-cms.com'

  # head-end search-head
  he_searchhead01_ip: '172.19.252.23'
  he_searchhead01_server: 'alln1splsrcp01'
  he_searchhead02_ip: '172.19.252.25'
  he_searchhead02_server: 'alln1splsrcp02'

  # head-end indexer
  he_indexer01_ip: '172.19.252.24'
  he_indexer01_server: 'alln1splidxp01'
  he_indexer02_ip: ''
  he_indexer02_server: ''

  # mom indexer
  mom_indexer1_ip: '172.19.252.28'
  mom_indexer2_ip: '172.19.252.29'

  # mom cluster master
  mom_clustermaster_ip: '172.19.252.30'

  # mom relay vip
  mom_rly_vip: '172.19.254.23'

  # tile server hostname
  tile_server: 'alln1spltlsp01'


#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@
##################################################################################
# Do NOT change anything below this line
##################################################################################
#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@

##################################################################################
# Service VIPs
##################################################################################
vip:

  # Message collectors VIP
  mc: "{{ '{{' }} customer.primary.octets {{ '}}' }}.42"

  # EM7 portals (application servers) VIP
  prt: "{{ '{{' }} customer.primary.octets {{ '}}' }}.49"

  # EM7 databases VIP
  db: "{{ '{{' }} customer.primary.octets {{ '}}' }}.40"

  # Splunk search heads VIP
  src: "{{ '{{' }} customer.primary.octets {{ '}}' }}.41"

  # Relay servers VIP
  rly: "{{ '{{' }} customer.primary.octets {{ '}}' }}.52"

  # Relay servers database VIP
  rly_db: "{{ '{{' }} customer.primary.octets {{ '}}' }}.1"

  # NFS mount VIP
  nfs_mnt: "{{ '{{' }} customer.primary.octets {{ '}}' }}.1"



