{% include 'templates/all.yml.tmpl' %}
{% if environment_definition.customer.deployment_model is search('a') %}
{% include 'templates/alla.yml.tmpl' %}
{% else %}
{% include 'templates/allh.yml.tmpl' %}
{% endif %}
