##################################################################################
# VM specific information
##################################################################################
vm_vars:

  ################
  # EM7 VMs
  ################
  em7:

    ################
    # EM7 Databases
    ################
    em7db:

      # number of CPUs
      cpu: "{{ environment_definition.vm_setting.em7.em7db.cpu if (environment_definition.vm_setting.em7.em7db.cpu is defined and environment_definition.vm_setting.em7.em7db.cpu != none) else '12' }}"

      # Memory size in GiB
      memory: "{{ environment_definition.vm_setting.em7.em7db.memory if (environment_definition.vm_setting.em7.em7db.memory is defined and environment_definition.vm_setting.em7.em7db.memory != none) else '48' if environment_definition.customer.primary.name_prefix is regex('[\\w]c[\\d]{2,}') else '256' }}"

      # Disks sizing in GiB
      disk0: "{{ environment_definition.vm_setting.em7.em7db.disk0 if (environment_definition.vm_setting.em7.em7db.disk0 is defined and environment_definition.vm_setting.em7.em7db.disk0 != none) else '250' if environment_definition.customer.primary.name_prefix is regex('[\\w]c[\\d]{2,}') else '1024' }}"
      disk1: "{{ environment_definition.vm_setting.em7.em7db.disk1 if (environment_definition.vm_setting.em7.em7db.disk1 is defined and environment_definition.vm_setting.em7.em7db.disk1 != none) else '0' }}"
      disk2: "{{ environment_definition.vm_setting.em7.em7db.disk2 if (environment_definition.vm_setting.em7.em7db.disk2 is defined and environment_definition.vm_setting.em7.em7db.disk2 != none) else '0' }}"
      disk3: "{{ environment_definition.vm_setting.em7.em7db.disk3 if (environment_definition.vm_setting.em7.em7db.disk3 is defined and environment_definition.vm_setting.em7.em7db.disk3 != none) else '0' }}"

      name: "{{ environment_definition.vm_setting.em7.em7db.name if (environment_definition.vm_setting.em7.em7db.name is defined and environment_definition.vm_setting.em7.em7db.name != none) else '' }}"

      # Network interface 1
      ################
      nic1:

        # Interface name
        name: "{{ environment_definition.vm_setting.em7.em7db.nic1.name if (environment_definition.vm_setting.em7.em7db.nic1.name is defined and environment_definition.vm_setting.em7.em7db.nic1.name != none) else 'ens160' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.em7.em7db.nic1.ip_pool if (environment_definition.vm_setting.em7.em7db.nic1.ip_pool is defined and environment_definition.vm_setting.em7.em7db.nic1.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.em7.em7db.nic1.ip_octetpool if (environment_definition.vm_setting.em7.em7db.nic1.ip_octetpool is defined and environment_definition.vm_setting.em7.em7db.nic1.ip_octetpool != none) else range(13, 14 + 1)|list }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.em7.em7db.nic1.gtw if (environment_definition.vm_setting.em7.em7db.nic1.gtw is defined and environment_definition.vm_setting.em7.em7db.nic1.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.em7.em7db.nic1.gtw_octet if (environment_definition.vm_setting.em7.em7db.nic1.gtw_octet is defined and environment_definition.vm_setting.em7.em7db.nic1.gtw_octet != none) else '62' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.em7.em7db.nic1.netmask if (environment_definition.vm_setting.em7.em7db.nic1.netmask is defined and environment_definition.vm_setting.em7.em7db.nic1.netmask != none) else '255.255.255.192' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.em7.em7db.nic1.netname if (environment_definition.vm_setting.em7.em7db.nic1.netname is defined and environment_definition.vm_setting.em7.em7db.nic1.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.em7.em7db.nic1.network if (environment_definition.vm_setting.em7.em7db.nic1.network is defined and environment_definition.vm_setting.em7.em7db.nic1.network != none) else 'Internal-Net' }}"

      # Network interface 2
      ################
      nic2:

        # Interface name
        name: "{{ environment_definition.vm_setting.em7.em7db.nic2.name if (environment_definition.vm_setting.em7.em7db.nic2.name is defined and environment_definition.vm_setting.em7.em7db.nic2.name != none) else 'ens192' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.em7.em7db.nic2.ip_pool if (environment_definition.vm_setting.em7.em7db.nic2.ip_pool is defined and environment_definition.vm_setting.em7.em7db.nic2.ip_pool != none) else [ '192.170.170.9', '192.170.170.10' ] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.em7.em7db.nic2.ip_octetpool if (environment_definition.vm_setting.em7.em7db.nic2.ip_octetpool is defined and environment_definition.vm_setting.em7.em7db.nic2.ip_octetpool != none) else [] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.em7.em7db.nic2.gtw if (environment_definition.vm_setting.em7.em7db.nic2.gtw is defined and environment_definition.vm_setting.em7.em7db.nic2.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.em7.em7db.nic2.gtw_octet if (environment_definition.vm_setting.em7.em7db.nic2.gtw_octet is defined and environment_definition.vm_setting.em7.em7db.nic2.gtw_octet != none) else '' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.em7.em7db.nic2.netmask if (environment_definition.vm_setting.em7.em7db.nic2.netmask is defined and environment_definition.vm_setting.em7.em7db.nic2.netmask != none) else '255.255.255.252' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.em7.em7db.nic2.netname if (environment_definition.vm_setting.em7.em7db.nic2.netname is defined and environment_definition.vm_setting.em7.em7db.nic2.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.em7.em7db.nic2.network if (environment_definition.vm_setting.em7.em7db.nic2.network is defined and environment_definition.vm_setting.em7.em7db.nic2.network != none) else 'EM7-DB-Heartbeat-Link' }}"


    ################
    # EM7 Data collectors
    ################
    em7dc:

      # number of CPUs
      cpu: "{{ environment_definition.vm_setting.em7.em7dc.cpu if (environment_definition.vm_setting.em7.em7dc.cpu is defined and environment_definition.vm_setting.em7.em7dc.cpu != none) else '4' }}"

      # Memory size in GiB
      memory: "{{ environment_definition.vm_setting.em7.em7dc.memory if (environment_definition.vm_setting.em7.em7dc.memory is defined and environment_definition.vm_setting.em7.em7dc.memory != none) else '24' }}"

      # Disks sizing in GiB
      disk0: "{{ environment_definition.vm_setting.em7.em7dc.disk0 if (environment_definition.vm_setting.em7.em7dc.disk0 is defined and environment_definition.vm_setting.em7.em7dc.disk0 != none) else '150' }}"
      disk1: "{{ environment_definition.vm_setting.em7.em7dc.disk1 if (environment_definition.vm_setting.em7.em7dc.disk1 is defined and environment_definition.vm_setting.em7.em7dc.disk1 != none) else '0' }}"
      disk2: "{{ environment_definition.vm_setting.em7.em7dc.disk2 if (environment_definition.vm_setting.em7.em7dc.disk2 is defined and environment_definition.vm_setting.em7.em7dc.disk2 != none) else '0' }}"
      disk3: "{{ environment_definition.vm_setting.em7.em7dc.disk3 if (environment_definition.vm_setting.em7.em7dc.disk3 is defined and environment_definition.vm_setting.em7.em7dc.disk3 != none) else '0' }}"

      name: "{{ environment_definition.vm_setting.em7.em7dc.name if (environment_definition.vm_setting.em7.em7dc.name is defined and environment_definition.vm_setting.em7.em7dc.name != none) else '' }}"

      # Network interface 1
      ################
      nic1:

        # Interface name
        name: "{{ environment_definition.vm_setting.em7.em7dc.nic1.name if (environment_definition.vm_setting.em7.em7dc.nic1.name is defined and environment_definition.vm_setting.em7.em7dc.nic1.name != none) else 'ens160' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.em7.em7dc.nic1.ip_pool if (environment_definition.vm_setting.em7.em7dc.nic1.ip_pool is defined and environment_definition.vm_setting.em7.em7dc.nic1.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.em7.em7dc.nic1.ip_octetpool if (environment_definition.vm_setting.em7.em7dc.nic1.ip_octetpool is defined and environment_definition.vm_setting.em7.em7dc.nic1.ip_octetpool != none) else [ '9', '11', '10', '12', '15', '17', '16', '18', '26', '27', '28', '29' ] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.em7.em7dc.nic1.gtw if (environment_definition.vm_setting.em7.em7dc.nic1.gtw is defined and environment_definition.vm_setting.em7.em7dc.nic1.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.em7.em7dc.nic1.gtw_octet if (environment_definition.vm_setting.em7.em7dc.nic1.gtw_octet is defined and environment_definition.vm_setting.em7.em7dc.nic1.gtw_octet != none) else '' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.em7.em7dc.nic1.netmask if (environment_definition.vm_setting.em7.em7dc.nic1.netmask is defined and environment_definition.vm_setting.em7.em7dc.nic1.netmask != none) else '255.255.255.192' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.em7.em7dc.nic1.netname if (environment_definition.vm_setting.em7.em7dc.nic1.netname is defined and environment_definition.vm_setting.em7.em7dc.nic1.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.em7.em7dc.nic1.network if (environment_definition.vm_setting.em7.em7dc.nic1.network is defined and environment_definition.vm_setting.em7.em7dc.nic1.network != none) else 'Internal-Net' }}"

      # Network interface 2
      ################
      nic2:

        # Interface name
        name: "{{ environment_definition.vm_setting.em7.em7dc.nic2.name if (environment_definition.vm_setting.em7.em7dc.nic2.name is defined and environment_definition.vm_setting.em7.em7dc.nic2.name != none) else 'ens192' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.em7.em7dc.nic2.ip_pool if (environment_definition.vm_setting.em7.em7dc.nic2.ip_pool is defined and environment_definition.vm_setting.em7.em7dc.nic2.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.em7.em7dc.nic2.ip_octetpool if (environment_definition.vm_setting.em7.em7dc.nic2.ip_octetpool is defined and environment_definition.vm_setting.em7.em7dc.nic2.ip_octetpool != none) else [ '65', '66', '67', '68', '69', '70', '71', '72', '86', '87', '88', '89' ] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.em7.em7dc.nic2.gtw if (environment_definition.vm_setting.em7.em7dc.nic2.gtw is defined and environment_definition.vm_setting.em7.em7dc.nic2.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.em7.em7dc.nic2.gtw_octet if (environment_definition.vm_setting.em7.em7dc.nic2.gtw_octet is defined and environment_definition.vm_setting.em7.em7dc.nic2.gtw_octet != none) else '94' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.em7.em7dc.nic2.netmask if (environment_definition.vm_setting.em7.em7dc.nic2.netmask is defined and environment_definition.vm_setting.em7.em7dc.nic2.netmask != none) else '255.255.255.224' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.em7.em7dc.nic2.netname if (environment_definition.vm_setting.em7.em7dc.nic2.netname is defined and environment_definition.vm_setting.em7.em7dc.nic2.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.em7.em7dc.nic2.network if (environment_definition.vm_setting.em7.em7dc.nic2.network is defined and environment_definition.vm_setting.em7.em7dc.nic2.network != none) else 'Customer-Net-Inside' }}"


    ################
    # EM7 Message collectors
    ################
    em7mc:

      # number of CPUs
      cpu: "{{ environment_definition.vm_setting.em7.em7mc.cpu if (environment_definition.vm_setting.em7.em7mc.cpu is defined and environment_definition.vm_setting.em7.em7mc.cpu != none) else '2' }}"

      # Memory size in GiB
      memory: "{{ environment_definition.vm_setting.em7.em7mc.memory if (environment_definition.vm_setting.em7.em7mc.memory is defined and environment_definition.vm_setting.em7.em7mc.memory != none) else '12' }}"

      # Disks sizing in GiB
      disk0: "{{ environment_definition.vm_setting.em7.em7mc.disk0 if (environment_definition.vm_setting.em7.em7mc.disk0 is defined and environment_definition.vm_setting.em7.em7mc.disk0 != none) else '90' }}"
      disk1: "{{ environment_definition.vm_setting.em7.em7mc.disk1 if (environment_definition.vm_setting.em7.em7mc.disk1 is defined and environment_definition.vm_setting.em7.em7mc.disk1 != none) else '0' }}"
      disk2: "{{ environment_definition.vm_setting.em7.em7mc.disk2 if (environment_definition.vm_setting.em7.em7mc.disk2 is defined and environment_definition.vm_setting.em7.em7mc.disk2 != none) else '0' }}"
      disk3: "{{ environment_definition.vm_setting.em7.em7mc.disk3 if (environment_definition.vm_setting.em7.em7mc.disk3 is defined and environment_definition.vm_setting.em7.em7mc.disk3 != none) else '0' }}"

      name: "{{ environment_definition.vm_setting.em7.em7mc.name if (environment_definition.vm_setting.em7.em7mc.name is defined and environment_definition.vm_setting.em7.em7mc.name != none) else '' }}"

      # Network interface 1
      ################
      nic1:

        # Interface name
        name: "{{ environment_definition.vm_setting.em7.em7mc.nic1.name if (environment_definition.vm_setting.em7.em7mc.nic1.name is defined and environment_definition.vm_setting.em7.em7mc.nic1.name != none) else 'ens160' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.em7.em7mc.nic1.ip_pool if (environment_definition.vm_setting.em7.em7mc.nic1.ip_pool is defined and environment_definition.vm_setting.em7.em7mc.nic1.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.em7.em7mc.nic1.ip_octetpool if (environment_definition.vm_setting.em7.em7mc.nic1.ip_octetpool is defined and environment_definition.vm_setting.em7.em7mc.nic1.ip_octetpool != none) else [ '5', '7', '30', '31', '32', '33' ] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.em7.em7mc.nic1.gtw if (environment_definition.vm_setting.em7.em7mc.nic1.gtw is defined and environment_definition.vm_setting.em7.em7mc.nic1.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.em7.em7mc.nic1.gtw_octet if (environment_definition.vm_setting.em7.em7mc.nic1.gtw_octet is defined and environment_definition.vm_setting.em7.em7mc.nic1.gtw_octet != none) else '62' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.em7.em7mc.nic1.netmask if (environment_definition.vm_setting.em7.em7mc.nic1.netmask is defined and environment_definition.vm_setting.em7.em7mc.nic1.netmask != none) else '255.255.255.192' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.em7.em7mc.nic1.netname if (environment_definition.vm_setting.em7.em7mc.nic1.netname is defined and environment_definition.vm_setting.em7.em7mc.nic1.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.em7.em7mc.nic1.network if (environment_definition.vm_setting.em7.em7mc.nic1.network is defined and environment_definition.vm_setting.em7.em7mc.nic1.network != none) else 'Internal-Net' }}"

      # Network interface 2
      ################
      nic2:

        # Interface name
        name: "{{ environment_definition.vm_setting.em7.em7mc.nic2.name if (environment_definition.vm_setting.em7.em7mc.nic2.name is defined and environment_definition.vm_setting.em7.em7mc.nic2.name != none) else '' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.em7.em7mc.nic2.ip_pool if (environment_definition.vm_setting.em7.em7mc.nic2.ip_pool is defined and environment_definition.vm_setting.em7.em7mc.nic2.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.em7.em7mc.nic2.ip_octetpool if (environment_definition.vm_setting.em7.em7mc.nic2.ip_octetpool is defined and environment_definition.vm_setting.em7.em7mc.nic2.ip_octetpool != none) else [] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.em7.em7mc.nic2.gtw if (environment_definition.vm_setting.em7.em7mc.nic2.gtw is defined and environment_definition.vm_setting.em7.em7mc.nic2.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.em7.em7mc.nic2.gtw_octet if (environment_definition.vm_setting.em7.em7mc.nic2.gtw_octet is defined and environment_definition.vm_setting.em7.em7mc.nic2.gtw_octet != none) else '' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.em7.em7mc.nic2.netmask if (environment_definition.vm_setting.em7.em7mc.nic2.netmask is defined and environment_definition.vm_setting.em7.em7mc.nic2.netmask != none) else '' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.em7.em7mc.nic2.netname if (environment_definition.vm_setting.em7.em7mc.nic2.netname is defined and environment_definition.vm_setting.em7.em7mc.nic2.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.em7.em7mc.nic2.network if (environment_definition.vm_setting.em7.em7mc.nic2.network is defined and environment_definition.vm_setting.em7.em7mc.nic2.network != none) else '' }}"


    ################
    # EM7 portals
    ################
    em7prt:

      # number of CPUs
      cpu: "{{ environment_definition.vm_setting.em7.em7prt.cpu if (environment_definition.vm_setting.em7.em7prt.cpu is defined and environment_definition.vm_setting.em7.em7prt.cpu != none) else '2' if environment_definition.customer.primary.name_prefix is regex('[\\w]c[\\d]{2,}') else '8' }}"

      # Memory size in GiB
      memory: "{{ environment_definition.vm_setting.em7.em7prt.memory if (environment_definition.vm_setting.em7.em7prt.memory is defined and environment_definition.vm_setting.em7.em7prt.memory != none) else '6' if environment_definition.customer.primary.name_prefix is regex('[\\w]c[\\d]{2,}') else '28' }}"

      # Disks sizing in GiB
      disk0: "{{ environment_definition.vm_setting.em7.em7prt.disk0 if (environment_definition.vm_setting.em7.em7prt.disk0 is defined and environment_definition.vm_setting.em7.em7prt.disk0 != none) else '62' }}"
      disk1: "{{ environment_definition.vm_setting.em7.em7prt.disk1 if (environment_definition.vm_setting.em7.em7prt.disk1 is defined and environment_definition.vm_setting.em7.em7prt.disk1 != none) else '0' }}"
      disk2: "{{ environment_definition.vm_setting.em7.em7prt.disk2 if (environment_definition.vm_setting.em7.em7prt.disk2 is defined and environment_definition.vm_setting.em7.em7prt.disk2 != none) else '0' }}"
      disk3: "{{ environment_definition.vm_setting.em7.em7prt.disk3 if (environment_definition.vm_setting.em7.em7prt.disk3 is defined and environment_definition.vm_setting.em7.em7prt.disk3 != none) else '0' }}"

      name: "{{ environment_definition.vm_setting.em7.em7prt.name if (environment_definition.vm_setting.em7.em7prt.name is defined and environment_definition.vm_setting.em7.em7prt.name != none) else '' }}"

      # Network interface 1
      ################
      nic1:

        # Interface name
        name: "{{ environment_definition.vm_setting.em7.em7prt.nic1.name if (environment_definition.vm_setting.em7.em7prt.nic1.name is defined and environment_definition.vm_setting.em7.em7prt.nic1.name != none) else 'ens160' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.em7.em7prt.nic1.ip_pool if (environment_definition.vm_setting.em7.em7prt.nic1.ip_pool is defined and environment_definition.vm_setting.em7.em7prt.nic1.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.em7.em7prt.nic1.ip_octetpool if (environment_definition.vm_setting.em7.em7prt.nic1.ip_octetpool is defined and environment_definition.vm_setting.em7.em7prt.nic1.ip_octetpool != none) else range(3, 4 + 1)|list + range(47, 48 + 1)|list }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.em7.em7prt.nic1.gtw if (environment_definition.vm_setting.em7.em7prt.nic1.gtw is defined and environment_definition.vm_setting.em7.em7prt.nic1.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.em7.em7prt.nic1.gtw_octet if (environment_definition.vm_setting.em7.em7prt.nic1.gtw_octet is defined and environment_definition.vm_setting.em7.em7prt.nic1.gtw_octet != none) else '' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.em7.em7prt.nic1.netmask if (environment_definition.vm_setting.em7.em7prt.nic1.netmask is defined and environment_definition.vm_setting.em7.em7prt.nic1.netmask != none) else '255.255.255.192' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.em7.em7prt.nic1.netname if (environment_definition.vm_setting.em7.em7prt.nic1.netname is defined and environment_definition.vm_setting.em7.em7prt.nic1.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.em7.em7prt.nic1.network if (environment_definition.vm_setting.em7.em7prt.nic1.network is defined and environment_definition.vm_setting.em7.em7prt.nic1.network != none) else 'Internal-Net' }}"

      # Network interface 2
      ################
      nic2:

        # Interface name
        name: "{{ environment_definition.vm_setting.em7.em7prt.nic2.name if (environment_definition.vm_setting.em7.em7prt.nic2.name is defined and environment_definition.vm_setting.em7.em7prt.nic2.name != none) else 'ens192' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.em7.em7prt.nic2.ip_pool if (environment_definition.vm_setting.em7.em7prt.nic2.ip_pool is defined and environment_definition.vm_setting.em7.em7prt.nic2.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.em7.em7prt.nic2.ip_octetpool if (environment_definition.vm_setting.em7.em7prt.nic2.ip_octetpool is defined and environment_definition.vm_setting.em7.em7prt.nic2.ip_octetpool != none) else [ '98', '100', '101', '102' ] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.em7.em7prt.nic2.gtw if (environment_definition.vm_setting.em7.em7prt.nic2.gtw is defined and environment_definition.vm_setting.em7.em7prt.nic2.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.em7.em7prt.nic2.gtw_octet if (environment_definition.vm_setting.em7.em7prt.nic2.gtw_octet is defined and environment_definition.vm_setting.em7.em7prt.nic2.gtw_octet != none) else '123' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.em7.em7prt.nic2.netmask if (environment_definition.vm_setting.em7.em7prt.nic2.netmask is defined and environment_definition.vm_setting.em7.em7prt.nic2.netmask != none) else '255.255.255.224' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.em7.em7prt.nic2.netname if (environment_definition.vm_setting.em7.em7prt.nic2.netname is defined and environment_definition.vm_setting.em7.em7prt.nic2.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.em7.em7prt.nic2.network if (environment_definition.vm_setting.em7.em7prt.nic2.network is defined and environment_definition.vm_setting.em7.em7prt.nic2.network != none) else 'Loadbalancer-Net' }}"


  ################
  # Splunk VMs
  ################
  spl:

    ################
    # Splunk deployment
    ################
    spldpl:

      # number of CPUs
      cpu: "{{ environment_definition.vm_setting.spl.spldpl.cpu if (environment_definition.vm_setting.spl.spldpl.cpu is defined and environment_definition.vm_setting.spl.spldpl.cpu != none) else '2' }}"

      # Memory size in GiB
      memory: "{{ environment_definition.vm_setting.spl.spldpl.memory if (environment_definition.vm_setting.spl.spldpl.memory is defined and environment_definition.vm_setting.spl.spldpl.memory != none) else '8' }}"

      # Disks sizing in GiB
      disk0: "{{ environment_definition.vm_setting.spl.spldpl.disk0 if (environment_definition.vm_setting.spl.spldpl.disk0 is defined and environment_definition.vm_setting.spl.spldpl.disk0 != none) else '37' }}"
      disk1: "{{ environment_definition.vm_setting.spl.spldpl.disk1 if (environment_definition.vm_setting.spl.spldpl.disk1 is defined and environment_definition.vm_setting.spl.spldpl.disk1 != none) else '25' }}"
      disk2: "{{ environment_definition.vm_setting.spl.spldpl.disk2 if (environment_definition.vm_setting.spl.spldpl.disk2 is defined and environment_definition.vm_setting.spl.spldpl.disk2 != none) else '0' }}"
      disk3: "{{ environment_definition.vm_setting.spl.spldpl.disk3 if (environment_definition.vm_setting.spl.spldpl.disk3 is defined and environment_definition.vm_setting.spl.spldpl.disk3 != none) else '0' }}"

      name: "{{ environment_definition.vm_setting.spl.spldpl.name if (environment_definition.vm_setting.spl.spldpl.name is defined and environment_definition.vm_setting.spl.spldpl.name != none) else '' }}"

      # Network interface 1
      ################
      nic1:

        # Interface name
        name: "{{ environment_definition.vm_setting.spl.spldpl.nic1.name if (environment_definition.vm_setting.spl.spldpl.nic1.name is defined and environment_definition.vm_setting.spl.spldpl.nic1.name != none) else 'ens160' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.spl.spldpl.nic1.ip_pool if (environment_definition.vm_setting.spl.spldpl.nic1.ip_pool is defined and environment_definition.vm_setting.spl.spldpl.nic1.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.spl.spldpl.nic1.ip_octetpool if (environment_definition.vm_setting.spl.spldpl.nic1.ip_octetpool is defined and environment_definition.vm_setting.spl.spldpl.nic1.ip_octetpool != none) else [ '23', '39' ] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.spl.spldpl.nic1.gtw if (environment_definition.vm_setting.spl.spldpl.nic1.gtw is defined and environment_definition.vm_setting.spl.spldpl.nic1.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.spl.spldpl.nic1.gtw_octet if (environment_definition.vm_setting.spl.spldpl.nic1.gtw_octet is defined and environment_definition.vm_setting.spl.spldpl.nic1.gtw_octet != none) else '62' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.spl.spldpl.nic1.netmask if (environment_definition.vm_setting.spl.spldpl.nic1.netmask is defined and environment_definition.vm_setting.spl.spldpl.nic1.netmask != none) else '255.255.255.192' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.spl.spldpl.nic1.netname if (environment_definition.vm_setting.spl.spldpl.nic1.netname is defined and environment_definition.vm_setting.spl.spldpl.nic1.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.spl.spldpl.nic1.network if (environment_definition.vm_setting.spl.spldpl.nic1.network is defined and environment_definition.vm_setting.spl.spldpl.nic1.network != none) else 'Internal-Net' }}"

      # Network interface 2
      ################
      nic2:

        # Interface name
        name: "{{ environment_definition.vm_setting.spl.spldpl.nic2.name if (environment_definition.vm_setting.spl.spldpl.nic1.name is defined and environment_definition.vm_setting.spl.spldpl.nic1.name != none) else '' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.spl.spldpl.nic2.ip_pool if (environment_definition.vm_setting.spl.spldpl.nic2.ip_pool is defined and environment_definition.vm_setting.spl.spldpl.nic2.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.spl.spldpl.nic2.ip_octetpool if (environment_definition.vm_setting.spl.spldpl.nic2.ip_octetpool is defined and environment_definition.vm_setting.spl.spldpl.nic2.ip_octetpool != none) else [] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.spl.spldpl.nic2.gtw if (environment_definition.vm_setting.spl.spldpl.nic2.gtw is defined and environment_definition.vm_setting.spl.spldpl.nic2.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.spl.spldpl.nic2.gtw_octet if (environment_definition.vm_setting.spl.spldpl.nic2.gtw_octet is defined and environment_definition.vm_setting.spl.spldpl.nic2.gtw_octet != none) else '' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.spl.spldpl.nic2.netmask if (environment_definition.vm_setting.spl.spldpl.nic2.netmask is defined and environment_definition.vm_setting.spl.spldpl.nic2.netmask != none) else '' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.spl.spldpl.nic2.netname if (environment_definition.vm_setting.spl.spldpl.nic2.netname is defined and environment_definition.vm_setting.spl.spldpl.nic2.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.spl.spldpl.nic2.network if (environment_definition.vm_setting.spl.spldpl.nic2.network is defined and environment_definition.vm_setting.spl.spldpl.nic2.network != none) else '' }}"


    ################
    # Splunk indexers
    ################
    splind:

      # number of CPUs
      cpu: "{{ environment_definition.vm_setting.spl.splind.cpu if (environment_definition.vm_setting.spl.splind.cpu is defined and environment_definition.vm_setting.spl.splind.cpu != none) else '4' }}"

      # Memory size in GiB
      memory: "{{ environment_definition.vm_setting.spl.splind.memory if (environment_definition.vm_setting.spl.splind.memory is defined and environment_definition.vm_setting.spl.splind.memory != none) else '8' }}"

      # Disks sizing in GiB
      disk0: "{{ environment_definition.vm_setting.spl.splind.disk0 if (environment_definition.vm_setting.spl.splind.disk0 is defined and environment_definition.vm_setting.spl.splind.disk0 != none) else '37' }}"
      disk1: "{{ environment_definition.vm_setting.spl.splind.disk1 if (environment_definition.vm_setting.spl.splind.disk1 is defined and environment_definition.vm_setting.spl.splind.disk1 != none) else '25' }}"
      disk2: "{{ environment_definition.vm_setting.spl.splind.disk2 if (environment_definition.vm_setting.spl.splind.disk2 is defined and environment_definition.vm_setting.spl.splind.disk2 != none) else '100' }}"
      disk3: "{{ environment_definition.vm_setting.spl.splind.disk3 if (environment_definition.vm_setting.spl.splind.disk3 is defined and environment_definition.vm_setting.spl.splind.disk3 != none) else '100' }}"

      name: "{{ environment_definition.vm_setting.spl.splind.name if (environment_definition.vm_setting.spl.splind.name is defined and environment_definition.vm_setting.spl.splind.name != none) else '' }}"

      # Network interface 1
      ################
      nic1:

        # Interface name
        name: "{{ environment_definition.vm_setting.spl.splind.nic1.name if (environment_definition.vm_setting.spl.splind.nic1.name is defined and environment_definition.vm_setting.spl.splind.nic1.name != none) else 'ens160' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.spl.splind.nic1.ip_pool if (environment_definition.vm_setting.spl.splind.nic1.ip_pool is defined and environment_definition.vm_setting.spl.splind.nic1.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.spl.splind.nic1.ip_octetpool if (environment_definition.vm_setting.spl.splind.nic1.ip_octetpool is defined and environment_definition.vm_setting.spl.splind.nic1.ip_octetpool != none) else range(24, 25 + 1)|list }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.spl.splind.nic1.gtw if (environment_definition.vm_setting.spl.splind.nic1.gtw is defined and environment_definition.vm_setting.spl.splind.nic1.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.spl.splind.nic1.gtw_octet if (environment_definition.vm_setting.spl.splind.nic1.gtw_octet is defined and environment_definition.vm_setting.spl.splind.nic1.gtw_octet != none) else '62' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.spl.splind.nic1.netmask if (environment_definition.vm_setting.spl.splind.nic1.netmask is defined and environment_definition.vm_setting.spl.splind.nic1.netmask != none) else '255.255.255.192' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.spl.splind.nic1.netname if (environment_definition.vm_setting.spl.splind.nic1.netname is defined and environment_definition.vm_setting.spl.splind.nic1.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.spl.splind.nic1.network if (environment_definition.vm_setting.spl.splind.nic1.network is defined and environment_definition.vm_setting.spl.splind.nic1.network != none) else 'Internal-Net' }}"

      # Network interface 2
      ################
      nic2:

        # Interface name
        name: "{{ environment_definition.vm_setting.spl.splind.nic2.name if (environment_definition.vm_setting.spl.splind.nic2.name is defined and environment_definition.vm_setting.spl.splind.nic2.name != none) else '' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.spl.splind.nic2.ip_pool if (environment_definition.vm_setting.spl.splind.nic2.ip_pool is defined and environment_definition.vm_setting.spl.splind.nic2.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.spl.splind.nic2.ip_octetpool if (environment_definition.vm_setting.spl.splind.nic2.ip_octetpool is defined and environment_definition.vm_setting.spl.splind.nic2.ip_octetpool != none) else [] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.spl.splind.nic2.gtw if (environment_definition.vm_setting.spl.splind.nic2.gtw is defined and environment_definition.vm_setting.spl.splind.nic2.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.spl.splind.nic2.gtw_octet if (environment_definition.vm_setting.spl.splind.nic2.gtw_octet is defined and environment_definition.vm_setting.spl.splind.nic2.gtw_octet != none) else '' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.spl.splind.nic2.netmask if (environment_definition.vm_setting.spl.splind.nic2.netmask is defined and environment_definition.vm_setting.spl.splind.nic2.netmask != none) else '' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.spl.splind.nic2.netname if (environment_definition.vm_setting.spl.splind.nic2.netname is defined and environment_definition.vm_setting.spl.splind.nic2.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.spl.splind.nic2.network if (environment_definition.vm_setting.spl.splind.nic2.network is defined and environment_definition.vm_setting.spl.splind.nic2.network != none) else '' }}"


    ################
    # Splunk cluster masters
    ################
    splmas:

      # number of CPUs
      cpu: "{{ environment_definition.vm_setting.spl.splmas.cpu if (environment_definition.vm_setting.spl.splmas.cpu is defined and environment_definition.vm_setting.spl.splmas.cpu != none) else '2' }}"

      # Memory size in GiB
      memory: "{{ environment_definition.vm_setting.spl.splmas.memory if (environment_definition.vm_setting.spl.splmas.memory is defined and environment_definition.vm_setting.spl.splmas.memory != none) else '8' }}"

      # Disks sizing in GiB
      disk0: "{{ environment_definition.vm_setting.spl.splmas.disk0 if (environment_definition.vm_setting.spl.splmas.disk0 is defined and environment_definition.vm_setting.spl.splmas.disk0 != none) else '37' }}"
      disk1: "{{ environment_definition.vm_setting.spl.splmas.disk1 if (environment_definition.vm_setting.spl.splmas.disk1 is defined and environment_definition.vm_setting.spl.splmas.disk1 != none) else '25' }}"
      disk2: "{{ environment_definition.vm_setting.spl.splmas.disk2 if (environment_definition.vm_setting.spl.splmas.disk2 is defined and environment_definition.vm_setting.spl.splmas.disk2 != none) else '0' }}"
      disk3: "{{ environment_definition.vm_setting.spl.splmas.disk3 if (environment_definition.vm_setting.spl.splmas.disk3 is defined and environment_definition.vm_setting.spl.splmas.disk3 != none) else '0' }}"

      name: "{{ environment_definition.vm_setting.spl.splmas.name if (environment_definition.vm_setting.spl.splmas.name is defined and environment_definition.vm_setting.spl.splmas.name != none) else '' }}"

      # Network interface 1
      ################
      nic1:

        # Interface name
        name: "{{ environment_definition.vm_setting.spl.splmas.nic1.name if (environment_definition.vm_setting.spl.splmas.nic1.name is defined and environment_definition.vm_setting.spl.splmas.nic1.name != none) else 'ens160' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.spl.splmas.nic1.ip_pool if (environment_definition.vm_setting.spl.splmas.nic1.ip_pool is defined and environment_definition.vm_setting.spl.splmas.nic1.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.spl.splmas.nic1.ip_octetpool if (environment_definition.vm_setting.spl.splmas.nic1.ip_octetpool is defined and environment_definition.vm_setting.spl.splmas.nic1.ip_octetpool != none) else [ '22', '38' ] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.spl.splmas.nic1.gtw if (environment_definition.vm_setting.spl.splmas.nic1.gtw is defined and environment_definition.vm_setting.spl.splmas.nic1.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.spl.splmas.nic1.gtw_octet if (environment_definition.vm_setting.spl.splmas.nic1.gtw_octet is defined and environment_definition.vm_setting.spl.splmas.nic1.gtw_octet != none) else '62' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.spl.splmas.nic1.netmask if (environment_definition.vm_setting.spl.splmas.nic1.netmask is defined and environment_definition.vm_setting.spl.splmas.nic1.netmask != none) else '255.255.255.192' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.spl.splmas.nic1.netname if (environment_definition.vm_setting.spl.splmas.nic1.netname is defined and environment_definition.vm_setting.spl.splmas.nic1.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.spl.splmas.nic1.network if (environment_definition.vm_setting.spl.splmas.nic1.network is defined and environment_definition.vm_setting.spl.splmas.nic1.network != none) else 'Internal-Net' }}"

      # Network interface 2
      ################
      nic2:

        # Interface name
        name: "{{ environment_definition.vm_setting.spl.splmas.nic2.name if (environment_definition.vm_setting.spl.splmas.nic2.name is defined and environment_definition.vm_setting.spl.splmas.nic2.name != none) else '' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.spl.splmas.nic2.ip_pool if (environment_definition.vm_setting.spl.splmas.nic2.ip_pool is defined and environment_definition.vm_setting.spl.splmas.nic2.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.spl.splmas.nic2.ip_octetpool if (environment_definition.vm_setting.spl.splmas.nic2.ip_octetpool is defined and environment_definition.vm_setting.spl.splmas.nic2.ip_octetpool != none) else [] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.spl.splmas.nic2.gtw if (environment_definition.vm_setting.spl.splmas.nic2.gtw is defined and environment_definition.vm_setting.spl.splmas.nic2.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.spl.splmas.nic2.gtw_octet if (environment_definition.vm_setting.spl.splmas.nic2.gtw_octet is defined and environment_definition.vm_setting.spl.splmas.nic2.gtw_octet != none) else '' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.spl.splmas.nic2.netmask if (environment_definition.vm_setting.spl.splmas.nic2.netmask is defined and environment_definition.vm_setting.spl.splmas.nic2.netmask != none) else '' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.spl.splmas.nic2.netname if (environment_definition.vm_setting.spl.splmas.nic2.netname is defined and environment_definition.vm_setting.spl.splmas.nic2.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.spl.splmas.nic2.network if (environment_definition.vm_setting.spl.splmas.nic2.network is defined and environment_definition.vm_setting.spl.splmas.nic2.network != none) else '' }}"


    ################
    # Splunk search heads
    ################
    splsrc:

      # number of CPUs
      cpu: "{{ environment_definition.vm_setting.spl.splsrc.cpu if (environment_definition.vm_setting.spl.splsrc.cpu is defined and environment_definition.vm_setting.spl.splsrc.cpu != none) else '4' if environment_definition.customer.primary.name_prefix is regex('[\\w]c[\\d]{2,}') else '8' }}"

      # Memory size in GiB
      memory: "{{ environment_definition.vm_setting.spl.splsrc.memory if (environment_definition.vm_setting.spl.splsrc.memory is defined and environment_definition.vm_setting.spl.splsrc.memory != none) else '8' if environment_definition.customer.primary.name_prefix is regex('[\\w]c[\\d]{2,}') else '16' }}"

      # Disks sizing in GiB
      disk0: "{{ environment_definition.vm_setting.spl.splsrc.disk0 if (environment_definition.vm_setting.spl.splsrc.disk0 is defined and environment_definition.vm_setting.spl.splsrc.disk0 != none) else '37' }}"
      disk1: "{{ environment_definition.vm_setting.spl.splsrc.disk1 if (environment_definition.vm_setting.spl.splsrc.disk1 is defined and environment_definition.vm_setting.spl.splsrc.disk1 != none) else '50' }}"
      disk2: "{{ environment_definition.vm_setting.spl.splsrc.disk2 if (environment_definition.vm_setting.spl.splsrc.disk2 is defined and environment_definition.vm_setting.spl.splsrc.disk2 != none) else '0' }}"
      disk3: "{{ environment_definition.vm_setting.spl.splsrc.disk3 if (environment_definition.vm_setting.spl.splsrc.disk3 is defined and environment_definition.vm_setting.spl.splsrc.disk3 != none) else '0' }}"

      name: "{{ environment_definition.vm_setting.spl.splsrc.name if (environment_definition.vm_setting.spl.splsrc.name is defined and environment_definition.vm_setting.spl.splsrc.name != none) else '' }}"

      # Network interface 1
      ################
      nic1:

        # Interface name
        name: "{{ environment_definition.vm_setting.spl.splsrc.nic1.name if (environment_definition.vm_setting.spl.splsrc.nic1.name is defined and environment_definition.vm_setting.spl.splsrc.nic1.name != none) else 'ens160' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.spl.splsrc.nic1.ip_pool if (environment_definition.vm_setting.spl.splsrc.nic1.ip_pool is defined and environment_definition.vm_setting.spl.splsrc.nic1.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.spl.splsrc.nic1.ip_octetpool if (environment_definition.vm_setting.spl.splsrc.nic1.ip_octetpool is defined and environment_definition.vm_setting.spl.splsrc.nic1.ip_octetpool != none) else range(20, 21 + 1)|list }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.spl.splsrc.nic1.gtw if (environment_definition.vm_setting.spl.splsrc.nic1.gtw is defined and environment_definition.vm_setting.spl.splsrc.nic1.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.spl.splsrc.nic1.gtw_octet if (environment_definition.vm_setting.spl.splsrc.nic1.gtw_octet is defined and environment_definition.vm_setting.spl.splsrc.nic1.gtw_octet != none) else '62' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.spl.splsrc.nic1.netmask if (environment_definition.vm_setting.spl.splsrc.nic1.netmask is defined and environment_definition.vm_setting.spl.splsrc.nic1.netmask != none) else '255.255.255.192' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.spl.splsrc.nic1.netname if (environment_definition.vm_setting.spl.splsrc.nic1.netname is defined and environment_definition.vm_setting.spl.splsrc.nic1.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.spl.splsrc.nic1.network if (environment_definition.vm_setting.spl.splsrc.nic1.network is defined and environment_definition.vm_setting.spl.splsrc.nic1.network != none) else 'Internal-Net' }}"

      # Network interface 2
      ################
      nic2:

        # Interface name
        name: "{{ environment_definition.vm_setting.spl.splsrc.nic2.name if (environment_definition.vm_setting.spl.splsrc.nic2.name is defined and environment_definition.vm_setting.spl.splsrc.nic2.name != none) else '' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.spl.splsrc.nic2.ip_pool if (environment_definition.vm_setting.spl.splsrc.nic2.ip_pool is defined and environment_definition.vm_setting.spl.splsrc.nic2.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.spl.splsrc.nic2.ip_octetpool if (environment_definition.vm_setting.spl.splsrc.nic2.ip_octetpool is defined and environment_definition.vm_setting.spl.splsrc.nic2.ip_octetpool != none) else [] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.spl.splsrc.nic2.gtw if (environment_definition.vm_setting.spl.splsrc.nic2.gtw is defined and environment_definition.vm_setting.spl.splsrc.nic2.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.spl.splsrc.nic2.gtw_octet if (environment_definition.vm_setting.spl.splsrc.nic2.gtw_octet is defined and environment_definition.vm_setting.spl.splsrc.nic2.gtw_octet != none) else '' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.spl.splsrc.nic2.netmask if (environment_definition.vm_setting.spl.splsrc.nic2.netmask is defined and environment_definition.vm_setting.spl.splsrc.nic2.netmask != none) else '' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.spl.splsrc.nic2.netname if (environment_definition.vm_setting.spl.splsrc.nic2.netname is defined and environment_definition.vm_setting.spl.splsrc.nic2.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.spl.splsrc.nic2.network if (environment_definition.vm_setting.spl.splsrc.nic2.network is defined and environment_definition.vm_setting.spl.splsrc.nic2.network != none) else '' }}"


  ################
  # Linux jump servers
  ################
  lnxjmp:

    # number of CPUs
    cpu: "{{ environment_definition.vm_setting.lnxjmp.cpu if (environment_definition.vm_setting.lnxjmp.cpu is defined and environment_definition.vm_setting.lnxjmp.cpu != none) else '2' }}"

    # Memory size in GiB
    memory: "{{ environment_definition.vm_setting.lnxjmp.memory if (environment_definition.vm_setting.lnxjmp.memory is defined and environment_definition.vm_setting.lnxjmp.memory != none) else '8' }}"

    # Disks sizing in GiB
    disk0: "{{ environment_definition.vm_setting.lnxjmp.disk0 if (environment_definition.vm_setting.lnxjmp.disk0 is defined and environment_definition.vm_setting.lnxjmp.disk0 != none) else '37' }}"
    disk1: "{{ environment_definition.vm_setting.lnxjmp.disk1 if (environment_definition.vm_setting.lnxjmp.disk1 is defined and environment_definition.vm_setting.lnxjmp.disk1 != none) else '25' }}"
    disk2: "{{ environment_definition.vm_setting.lnxjmp.disk2 if (environment_definition.vm_setting.lnxjmp.disk2 is defined and environment_definition.vm_setting.lnxjmp.disk2 != none) else '0' }}"
    disk3: "{{ environment_definition.vm_setting.lnxjmp.disk3 if (environment_definition.vm_setting.lnxjmp.disk3 is defined and environment_definition.vm_setting.lnxjmp.disk3 != none) else '0' }}"

    name: "{{ environment_definition.vm_setting.lnxjmp.name if (environment_definition.vm_setting.lnxjmp.name is defined and environment_definition.vm_setting.lnxjmp.name != none) else '' }}"

    # Network interface 1
    ################
    nic1:

      # Interface name
      name: "{{ environment_definition.vm_setting.lnxjmp.nic1.name if (environment_definition.vm_setting.lnxjmp.nic1.name is defined and environment_definition.vm_setting.lnxjmp.nic1.name != none) else 'ens160' }}"

      # IP pool
      ip_pool: "{{ environment_definition.vm_setting.lnxjmp.nic1.ip_pool if (environment_definition.vm_setting.lnxjmp.nic1.ip_pool is defined and environment_definition.vm_setting.lnxjmp.nic1.ip_pool != none) else [] }}"

      # IP fourth octet pool
      ip_octetpool: "{{ environment_definition.vm_setting.lnxjmp.nic1.ip_octetpool if (environment_definition.vm_setting.lnxjmp.nic1.ip_octetpool is defined and environment_definition.vm_setting.lnxjmp.nic1.ip_octetpool != none) else [ '58', '56' ] }}"

      # Gateway
      gtw: "{{ environment_definition.vm_setting.lnxjmp.nic1.gtw if (environment_definition.vm_setting.lnxjmp.nic1.gtw is defined and environment_definition.vm_setting.lnxjmp.nic1.gtw != none) else '' }}"

      # Gateway fourth octet
      gtw_octet: "{{ environment_definition.vm_setting.lnxjmp.nic1.gtw_octet if (environment_definition.vm_setting.lnxjmp.nic1.gtw_octet is defined and environment_definition.vm_setting.lnxjmp.nic1.gtw_octet != none) else '' }}"

      # Netmask
      netmask: "{{ environment_definition.vm_setting.lnxjmp.nic1.netmask if (environment_definition.vm_setting.lnxjmp.nic1.netmask is defined and environment_definition.vm_setting.lnxjmp.nic1.netmask != none) else '255.255.255.192' }}"

      # Net Name
      netname: "{{ environment_definition.vm_setting.lnxjmp.nic1.netname if (environment_definition.vm_setting.lnxjmp.nic1.netname is defined and environment_definition.vm_setting.lnxjmp.nic1.netname != none) else '' }}"

      # Net Base
      netbase: "{{ environment_definition.vm_setting.lnxjmp.nic1.network if (environment_definition.vm_setting.lnxjmp.nic1.network is defined and environment_definition.vm_setting.lnxjmp.nic1.network != none) else 'Internal-Net' }}"

    # Network interface 2
    ################
    nic2:

      # Interface name
      name: "{{ environment_definition.vm_setting.lnxjmp.nic2.name if (environment_definition.vm_setting.lnxjmp.nic2.name is defined and environment_definition.vm_setting.lnxjmp.nic2.name != none) else 'ens192' }}"

      # IP pool
      ip_pool: "{{ environment_definition.vm_setting.lnxjmp.nic2.ip_pool if (environment_definition.vm_setting.lnxjmp.nic2.ip_pool is defined and environment_definition.vm_setting.lnxjmp.nic2.ip_pool != none) else [] }}"

      # IP fourth octet pool
      ip_octetpool: "{{ environment_definition.vm_setting.lnxjmp.nic2.ip_octetpool if (environment_definition.vm_setting.lnxjmp.nic2.ip_octetpool is defined and environment_definition.vm_setting.lnxjmp.nic2.ip_octetpool != none) else [ '76', '74' ] }}"

      # Gateway
      gtw: "{{ environment_definition.vm_setting.lnxjmp.nic2.gtw if (environment_definition.vm_setting.lnxjmp.nic2.gtw is defined and environment_definition.vm_setting.lnxjmp.nic2.gtw != none) else '' }}"

      # Gateway fourth octet
      gtw_octet: "{{ environment_definition.vm_setting.lnxjmp.nic2.gtw_octet if (environment_definition.vm_setting.lnxjmp.nic2.gtw_octet is defined and environment_definition.vm_setting.lnxjmp.nic2.gtw_octet != none) else '94' }}"

      # Netmask
      netmask: "{{ environment_definition.vm_setting.lnxjmp.nic2.netmask if (environment_definition.vm_setting.lnxjmp.nic2.netmask is defined and environment_definition.vm_setting.lnxjmp.nic2.netmask != none) else '255.255.255.224' }}"

      # Net Name
      netname: "{{ environment_definition.vm_setting.lnxjmp.nic2.netname if (environment_definition.vm_setting.lnxjmp.nic2.netname is defined and environment_definition.vm_setting.lnxjmp.nic2.netname != none) else '' }}"

      # Net Base
      netbase: "{{ environment_definition.vm_setting.lnxjmp.nic2.network if (environment_definition.vm_setting.lnxjmp.nic2.network is defined and environment_definition.vm_setting.lnxjmp.nic2.network != none) else 'Customer-Net-Inside' }}"


  ################
  # Relay servers
  ################
  rly:

    # number of CPUs
    cpu: "{{ environment_definition.vm_setting.rly.cpu if (environment_definition.vm_setting.rly.cpu is defined and environment_definition.vm_setting.rly.cpu != none) else '4' }}"

    # Memory size in GiB
    memory: "{{ environment_definition.vm_setting.rly.memory if (environment_definition.vm_setting.rly.memory is defined and environment_definition.vm_setting.rly.memory != none) else '12' if environment_definition.customer.primary.name_prefix is regex('[\\w]c[\\d]{2,}') else '8' }}"

    # Disks sizing in GiB
    disk0: "{{ environment_definition.vm_setting.rly.disk0 if (environment_definition.vm_setting.rly.disk0 is defined and environment_definition.vm_setting.rly.disk0 != none) else '37' }}"
    disk1: "{{ environment_definition.vm_setting.rly.disk1 if (environment_definition.vm_setting.rly.disk1 is defined and environment_definition.vm_setting.rly.disk1 != none) else '25' }}"
    disk2: "{{ environment_definition.vm_setting.rly.disk2 if (environment_definition.vm_setting.rly.disk2 is defined and environment_definition.vm_setting.rly.disk2 != none) else '100' }}"
    disk3: "{{ environment_definition.vm_setting.rly.disk3 if (environment_definition.vm_setting.rly.disk3 is defined and environment_definition.vm_setting.rly.disk3 != none) else '450' }}"

    name: "{{ environment_definition.vm_setting.rly.name if (environment_definition.vm_setting.rly.name is defined and environment_definition.vm_setting.rly.name != none) else '' }}"

    # Network interface 1
    ################
    nic1:

      # Interface name
      name: "{{ environment_definition.vm_setting.rly.nic1.name if (environment_definition.vm_setting.rly.nic1.name is defined and environment_definition.vm_setting.rly.nic1.name != none) else 'ens160' }}"

      # IP pool
      ip_pool: "{{ environment_definition.vm_setting.rly.nic1.ip_pool if (environment_definition.vm_setting.rly.nic1.ip_pool is defined and environment_definition.vm_setting.rly.nic1.ip_pool != none) else [] }}"

      # IP fourth octet pool
      ip_octetpool: "{{ environment_definition.vm_setting.rly.nic1.ip_octetpool if (environment_definition.vm_setting.rly.nic1.ip_octetpool is defined and environment_definition.vm_setting.rly.nic1.ip_octetpool != none) else range(1, 2 + 1)|list }}"

      # Gateway
      gtw: "{{ environment_definition.vm_setting.rly.nic1.gtw if (environment_definition.vm_setting.rly.nic1.gtw is defined and environment_definition.vm_setting.rly.nic1.gtw != none) else '' }}"

      # Gateway fourth octet
      gtw_octet: "{{ environment_definition.vm_setting.rly.nic1.gtw_octet if (environment_definition.vm_setting.rly.nic1.gtw_octet is defined and environment_definition.vm_setting.rly.nic1.gtw_octet != none) else '' }}"

      # Netmask
      netmask: "{{ environment_definition.vm_setting.rly.nic1.netmask if (environment_definition.vm_setting.rly.nic1.netmask is defined and environment_definition.vm_setting.rly.nic1.netmask != none) else '255.255.255.192' }}"

      # Net Name
      netname: "{{ environment_definition.vm_setting.rly.nic1.netname if (environment_definition.vm_setting.rly.nic1.netname is defined and environment_definition.vm_setting.rly.nic1.netname != none) else '' }}"

      # Net Base
      netbase: "{{ environment_definition.vm_setting.rly.nic1.network if (environment_definition.vm_setting.rly.nic1.network is defined and environment_definition.vm_setting.rly.nic1.network != none) else 'Internal-Net' }}"

    # Network interface 2
    ################
    nic2:

      # Interface name
      name: "{{ environment_definition.vm_setting.rly.nic2.name if (environment_definition.vm_setting.rly.nic2.name is defined and environment_definition.vm_setting.rly.nic2.name != none) else 'ens192' }}"

      # IP pool
      ip_pool: "{{ environment_definition.vm_setting.rly.nic2.ip_pool if (environment_definition.vm_setting.rly.nic2.ip_pool is defined and environment_definition.vm_setting.rly.nic2.ip_pool != none) else [] }}"

      # IP fourth octet pool
      ip_octetpool: "{{ environment_definition.vm_setting.rly.nic2.ip_octetpool if (environment_definition.vm_setting.rly.nic2.ip_octetpool is defined and environment_definition.vm_setting.rly.nic2.ip_octetpool != none) else [ '97', '99' ] }}"

      # Gateway
      gtw: "{{ environment_definition.vm_setting.rly.nic2.gtw if (environment_definition.vm_setting.rly.nic2.gtw is defined and environment_definition.vm_setting.rly.nic2.gtw != none) else '' }}"

      # Gateway fourth octet
      gtw_octet: "{{ environment_definition.vm_setting.rly.nic2.gtw_octet if (environment_definition.vm_setting.rly.nic2.gtw_octet is defined and environment_definition.vm_setting.rly.nic2.gtw_octet != none) else '123' }}"

      # Netmask
      netmask: "{{ environment_definition.vm_setting.rly.nic2.netmask if (environment_definition.vm_setting.rly.nic2.netmask is defined and environment_definition.vm_setting.rly.nic2.netmask != none) else '255.255.255.224' }}"

      # Net Name
      netname: "{{ environment_definition.vm_setting.rly.nic2.netname if (environment_definition.vm_setting.rly.nic2.netname is defined and environment_definition.vm_setting.rly.nic2.netname != none) else '' }}"

      # Net Base
      netbase: "{{ environment_definition.vm_setting.rly.nic2.network if (environment_definition.vm_setting.rly.nic2.network is defined and environment_definition.vm_setting.rly.nic2.network != none) else 'Loadbalancer-Net' }}"


  ################
  # Infrastructure VMs
  ################
  infra:

    ################
    # Switches
    ################
    csr:

      # number of CPUs
      cpu: "{{ environment_definition.vm_setting.infra.csr.cpu if (environment_definition.vm_setting.infra.csr.cpu is defined and environment_definition.vm_setting.infra.csr.cpu != none) else '2' }}"

      # Memory size in GiB
      memory: "{{ environment_definition.vm_setting.infra.csr.memory if (environment_definition.vm_setting.infra.csr.memory is defined and environment_definition.vm_setting.infra.csr.memory != none) else '4' }}"

      # Disks sizing in GiB
      disk0: "{{ environment_definition.vm_setting.infra.csr.disk0 if (environment_definition.vm_setting.infra.csr.disk0 is defined and environment_definition.vm_setting.infra.csr.disk0 != none) else '8' }}"
      disk1: "{{ environment_definition.vm_setting.infra.csr.disk1 if (environment_definition.vm_setting.infra.csr.disk1 is defined and environment_definition.vm_setting.infra.csr.disk1 != none) else '0' }}"
      disk2: "{{ environment_definition.vm_setting.infra.csr.disk2 if (environment_definition.vm_setting.infra.csr.disk2 is defined and environment_definition.vm_setting.infra.csr.disk2 != none) else '0' }}"
      disk3: "{{ environment_definition.vm_setting.infra.csr.disk3 if (environment_definition.vm_setting.infra.csr.disk3 is defined and environment_definition.vm_setting.infra.csr.disk3 != none) else '0' }}"

      name: "{{ environment_definition.vm_setting.infra.csr.name if (environment_definition.vm_setting.infra.csr.name is defined and environment_definition.vm_setting.infra.csr.name != none) else '' }}"

    # Network interface 1
    ################
      nic1:

        # Interface name
        name: "{{ environment_definition.vm_setting.infra.csr.nic1.name if (environment_definition.vm_setting.infra.csr.nic1.name is defined and environment_definition.vm_setting.infra.csr.nic1.name != none) else '' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.infra.csr.nic1.ip_pool if (environment_definition.vm_setting.infra.csr.nic1.ip_pool is defined and environment_definition.vm_setting.infra.csr.nic1.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.infra.csr.nic1.ip_octetpool if (environment_definition.vm_setting.infra.csr.nic1.ip_octetpool is defined and environment_definition.vm_setting.infra.csr.nic1.ip_octetpool != none) else [] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.infra.csr.nic1.gtw if (environment_definition.vm_setting.infra.csr.nic1.gtw is defined and environment_definition.vm_setting.infra.csr.nic1.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.infra.csr.nic1.gtw_octet if (environment_definition.vm_setting.infra.csr.nic1.gtw_octet is defined and environment_definition.vm_setting.infra.csr.nic1.gtw_octet != none) else '' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.infra.csr.nic1.netmask if (environment_definition.vm_setting.infra.csr.nic1.netmask is defined and environment_definition.vm_setting.infra.csr.nic1.netmask != none) else '' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.infra.csr.nic1.netname if (environment_definition.vm_setting.infra.csr.nic1.netname is defined and environment_definition.vm_setting.infra.csr.nic1.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.infra.csr.nic1.network if (environment_definition.vm_setting.infra.csr.nic1.network is defined and environment_definition.vm_setting.infra.csr.nic1.network != none) else 'Customer-Net-Internet' }}"

    # Network interface 2
    ################
      nic2:

        # Interface name
        name: "{{ environment_definition.vm_setting.infra.csr.nic2.name if (environment_definition.vm_setting.infra.csr.nic2.name is defined and environment_definition.vm_setting.infra.csr.nic2.name != none) else '' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.infra.csr.nic2.ip_pool if (environment_definition.vm_setting.infra.csr.nic2.ip_pool is defined and environment_definition.vm_setting.infra.csr.nic2.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.infra.csr.nic2.ip_octetpool if (environment_definition.vm_setting.infra.csr.nic2.ip_octetpool is defined and environment_definition.vm_setting.infra.csr.nic2.ip_octetpool != none) else [] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.infra.csr.nic2.gtw if (environment_definition.vm_setting.infra.csr.nic2.gtw is defined and environment_definition.vm_setting.infra.csr.nic2.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.infra.csr.nic2.gtw_octet if (environment_definition.vm_setting.infra.csr.nic2.gtw_octet is defined and environment_definition.vm_setting.infra.csr.nic2.gtw_octet != none) else '' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.infra.csr.nic2.netmask if (environment_definition.vm_setting.infra.csr.nic2.netmask is defined and environment_definition.vm_setting.infra.csr.nic2.netmask != none) else '' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.infra.csr.nic2.netname if (environment_definition.vm_setting.infra.csr.nic2.netname is defined and environment_definition.vm_setting.infra.csr.nic2.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.infra.csr.nic2.network if (environment_definition.vm_setting.infra.csr.nic2.network is defined and environment_definition.vm_setting.infra.csr.nic2.network != none) else 'Customer-Net-Outside' }}"

    # Network interface 3
    ################
      nic3:

       # Interface name
        name: "{{ environment_definition.vm_setting.infra.csr.nic3.name if (environment_definition.vm_setting.infra.csr.nic3.name is defined and environment_definition.vm_setting.infra.csr.nic3.name != none) else 'ens160' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.infra.csr.nic3.ip_pool if (environment_definition.vm_setting.infra.csr.nic3.ip_pool is defined and environment_definition.vm_setting.infra.csr.nic3.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.infra.csr.nic3.ip_octetpool if (environment_definition.vm_setting.infra.csr.nic3.ip_octetpool is defined and environment_definition.vm_setting.infra.csr.nic3.ip_octetpool != none) else range(60, 61 + 1)|list }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.infra.csr.nic3.gtw if (environment_definition.vm_setting.infra.csr.nic3.gtw is defined and environment_definition.vm_setting.infra.csr.nic3.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.infra.csr.nic3.gtw_octet if (environment_definition.vm_setting.infra.csr.nic3.gtw_octet is defined and environment_definition.vm_setting.infra.csr.nic3.gtw_octet != none) else '62' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.infra.csr.nic3.netmask if (environment_definition.vm_setting.infra.csr.nic3.netmask is defined and environment_definition.vm_setting.infra.csr.nic3.netmask != none) else '255.255.255.192' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.infra.csr.nic3.netname if (environment_definition.vm_setting.infra.csr.nic3.netname is defined and environment_definition.vm_setting.infra.csr.nic3.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.infra.csr.nic3.network if (environment_definition.vm_setting.infra.csr.nic3.network is defined and environment_definition.vm_setting.infra.csr.nic3.network != none) else 'Internal-Net' }}"

    # Network interface 4
    ################
      nic4:

       # Interface name
        name: "{{ environment_definition.vm_setting.infra.csr.nic4.name if (environment_definition.vm_setting.infra.csr.nic4.name is defined and environment_definition.vm_setting.infra.csr.nic4.name != none) else 'ens192' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.infra.csr.nic4.ip_pool if (environment_definition.vm_setting.infra.csr.nic4.ip_pool is defined and environment_definition.vm_setting.infra.csr.nic4.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.infra.csr.nic4.ip_octetpool if (environment_definition.vm_setting.infra.csr.nic4.ip_octetpool is defined and environment_definition.vm_setting.infra.csr.nic4.ip_octetpool != none) else range(92, 93 + 1)|list }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.infra.csr.nic4.gtw if (environment_definition.vm_setting.infra.csr.nic4.gtw is defined and environment_definition.vm_setting.infra.csr.nic4.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.infra.csr.nic4.gtw_octet if (environment_definition.vm_setting.infra.csr.nic4.gtw_octet is defined and environment_definition.vm_setting.infra.csr.nic4.gtw_octet != none) else '94' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.infra.csr.nic4.netmask if (environment_definition.vm_setting.infra.csr.nic4.netmask is defined and environment_definition.vm_setting.infra.csr.nic4.netmask != none) else '255.255.255.224' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.infra.csr.nic4.netname if (environment_definition.vm_setting.infra.csr.nic4.netname is defined and environment_definition.vm_setting.infra.csr.nic4.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.infra.csr.nic4.network if (environment_definition.vm_setting.infra.csr.nic4.network is defined and environment_definition.vm_setting.infra.csr.nic4.network != none) else 'Customer-Net-Inside' }}"

    # Network interface 5
    ################
      nic5:

       # Interface name
        name: "{{ environment_definition.vm_setting.infra.csr.nic5.name if (environment_definition.vm_setting.infra.csr.nic5.name is defined and environment_definition.vm_setting.infra.csr.nic5.name != none) else 'ens224' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.infra.csr.nic5.ip_pool if (environment_definition.vm_setting.infra.csr.nic5.ip_pool is defined and environment_definition.vm_setting.infra.csr.nic5.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.infra.csr.nic5.ip_octetpool if (environment_definition.vm_setting.infra.csr.nic5.ip_octetpool is defined and environment_definition.vm_setting.infra.csr.nic5.ip_octetpool != none) else range(124, 125 + 1)|list }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.infra.csr.nic5.gtw if (environment_definition.vm_setting.infra.csr.nic5.gtw is defined and environment_definition.vm_setting.infra.csr.nic5.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.infra.csr.nic5.gtw_octet if (environment_definition.vm_setting.infra.csr.nic5.gtw_octet is defined and environment_definition.vm_setting.infra.csr.nic5.gtw_octet != none) else '126' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.infra.csr.nic5.netmask if (environment_definition.vm_setting.infra.csr.nic5.netmask is defined and environment_definition.vm_setting.infra.csr.nic5.netmask != none) else '255.255.255.224' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.infra.csr.nic5.netname if (environment_definition.vm_setting.infra.csr.nic5.netname is defined and environment_definition.vm_setting.infra.csr.nic5.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.infra.csr.nic5.network if (environment_definition.vm_setting.infra.csr.nic5.network is defined and environment_definition.vm_setting.infra.csr.nic5.network != none) else 'Loadbalancer-Net' }}"


    ################
    # Netscalers
    ################
    nsvpx:

      # number of CPUs
      cpu: "{{ environment_definition.vm_setting.infra.nsvpx.cpu if (environment_definition.vm_setting.infra.nsvpx.cpu is defined and environment_definition.vm_setting.infra.nsvpx.cpu != none) else '2' }}"

      # Memory size in GiB
      memory: "{{ environment_definition.vm_setting.infra.nsvpx.memory if (environment_definition.vm_setting.infra.nsvpx.memory is defined and environment_definition.vm_setting.infra.nsvpx.memory != none) else '2' }}"

      # Disks sizing in GiB
      disk0: "{{ environment_definition.vm_setting.infra.nsvpx.disk0 if (environment_definition.vm_setting.infra.nsvpx.disk0 is defined and environment_definition.vm_setting.infra.nsvpx.disk0 != none) else '20' }}"
      disk1: "{{ environment_definition.vm_setting.infra.nsvpx.disk1 if (environment_definition.vm_setting.infra.nsvpx.disk1 is defined and environment_definition.vm_setting.infra.nsvpx.disk1 != none) else '0' }}"
      disk2: "{{ environment_definition.vm_setting.infra.nsvpx.disk2 if (environment_definition.vm_setting.infra.nsvpx.disk2 is defined and environment_definition.vm_setting.infra.nsvpx.disk2 != none) else '0' }}"
      disk3: "{{ environment_definition.vm_setting.infra.nsvpx.disk3 if (environment_definition.vm_setting.infra.nsvpx.disk3 is defined and environment_definition.vm_setting.infra.nsvpx.disk3 != none) else '0' }}"

      name: "{{ environment_definition.vm_setting.infra.nsvpx.name if (environment_definition.vm_setting.infra.nsvpx.name is defined and environment_definition.vm_setting.infra.nsvpx.name != none) else '' }}"

      # Network interface 1
      ################
      nic1:

        # Interface name
        name: "{{ environment_definition.vm_setting.infra.nsvpx.nic1.name if (environment_definition.vm_setting.infra.nsvpx.nic1.name is defined and environment_definition.vm_setting.infra.nsvpx.nic1.name != none) else 'ens160' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.infra.nsvpx.nic1.ip_pool if (environment_definition.vm_setting.infra.nsvpx.nic1.ip_pool is defined and environment_definition.vm_setting.infra.nsvpx.nic1.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.infra.nsvpx.nic1.ip_octetpool if (environment_definition.vm_setting.infra.nsvpx.nic1.ip_octetpool is defined and environment_definition.vm_setting.infra.nsvpx.nic1.ip_octetpool != none) else range(53, 54 + 1)|list }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.infra.nsvpx.nic1.gtw if (environment_definition.vm_setting.infra.nsvpx.nic1.gtw is defined and environment_definition.vm_setting.infra.nsvpx.nic1.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.infra.nsvpx.nic1.gtw_octet if (environment_definition.vm_setting.infra.nsvpx.nic1.gtw_octet is defined and environment_definition.vm_setting.infra.nsvpx.nic1.gtw_octet != none) else '62' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.infra.nsvpx.nic1.netmask if (environment_definition.vm_setting.infra.nsvpx.nic1.netmask is defined and environment_definition.vm_setting.infra.nsvpx.nic1.netmask != none) else '255.255.255.192' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.infra.nsvpx.nic1.netname if (environment_definition.vm_setting.infra.nsvpx.nic1.netname is defined and environment_definition.vm_setting.infra.nsvpx.nic1.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.infra.nsvpx.nic1.network if (environment_definition.vm_setting.infra.nsvpx.nic1.network is defined and environment_definition.vm_setting.infra.nsvpx.nic1.network != none) else 'Internal-Net' }}"

      # Network interface 2
      ################
      nic2:

        # Interface name
        name: "{{ environment_definition.vm_setting.infra.nsvpx.nic2.name if (environment_definition.vm_setting.infra.nsvpx.nic2.name is defined and environment_definition.vm_setting.infra.nsvpx.nic2.name != none) else '' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.infra.nsvpx.nic2.ip_pool if (environment_definition.vm_setting.infra.nsvpx.nic2.ip_pool is defined and environment_definition.vm_setting.infra.nsvpx.nic2.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.infra.nsvpx.nic2.ip_octetpool if (environment_definition.vm_setting.infra.nsvpx.nic2.ip_octetpool is defined and environment_definition.vm_setting.infra.nsvpx.nic2.ip_octetpool != none) else [] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.infra.nsvpx.nic2.gtw if (environment_definition.vm_setting.infra.nsvpx.nic2.gtw is defined and environment_definition.vm_setting.infra.nsvpx.nic2.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.infra.nsvpx.nic2.gtw_octet if (environment_definition.vm_setting.infra.nsvpx.nic2.gtw_octet is defined and environment_definition.vm_setting.infra.nsvpx.nic2.gtw_octet != none) else '' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.infra.nsvpx.nic2.netmask if (environment_definition.vm_setting.infra.nsvpx.nic2.netmask is defined and environment_definition.vm_setting.infra.nsvpx.nic2.netmask != none) else '' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.infra.nsvpx.nic2.netname if (environment_definition.vm_setting.infra.nsvpx.nic2.netname is defined and environment_definition.vm_setting.infra.nsvpx.nic2.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.infra.nsvpx.nic2.network if (environment_definition.vm_setting.infra.nsvpx.nic2.network is defined and environment_definition.vm_setting.infra.nsvpx.nic2.network != none) else '' }}"


    ################
    # Windows jump servers
    ################
    winjmp:

      # number of CPUs
      cpu: "{{ environment_definition.vm_setting.infra.winjmp.cpu if (environment_definition.vm_setting.infra.winjmp.cpu is defined and environment_definition.vm_setting.infra.winjmp.cpu != none) else '2' }}"

      # Memory size in GiB
      memory: "{{ environment_definition.vm_setting.infra.winjmp.memory if (environment_definition.vm_setting.infra.winjmp.memory is defined and environment_definition.vm_setting.infra.winjmp.memory != none) else '4' if environment_definition.customer.primary.name_prefix is regex('[\\w]c[\\d]{2,}') else '8' }}"

      # Disks sizing in GiB
      disk0: "{{ environment_definition.vm_setting.infra.winjmp.disk0 if (environment_definition.vm_setting.infra.winjmp.disk0 is defined and environment_definition.vm_setting.infra.winjmp.disk0 != none) else '100' }}"
      disk1: "{{ environment_definition.vm_setting.infra.winjmp.disk1 if (environment_definition.vm_setting.infra.winjmp.disk1 is defined and environment_definition.vm_setting.infra.winjmp.disk1 != none) else '100' }}"
      disk2: "{{ environment_definition.vm_setting.infra.winjmp.disk2 if (environment_definition.vm_setting.infra.winjmp.disk2 is defined and environment_definition.vm_setting.infra.winjmp.disk2 != none) else '0' }}"

      name: "{{ environment_definition.vm_setting.infra.winjmp.name if (environment_definition.vm_setting.infra.winjmp.name is defined and environment_definition.vm_setting.infra.winjmp.name != none) else '' }}"

      # Network interface 1
      ################
      nic1:

        # Interface name
        name: "{{ environment_definition.vm_setting.infra.winjmp.nic1.name if (environment_definition.vm_setting.infra.winjmp.nic1.name is defined and environment_definition.vm_setting.infra.winjmp.nic1.name != none) else 'ens160' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.infra.winjmp.nic1.ip_pool if (environment_definition.vm_setting.infra.winjmp.nic1.ip_pool is defined and environment_definition.vm_setting.infra.winjmp.nic1.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.infra.winjmp.nic1.ip_octetpool if (environment_definition.vm_setting.infra.winjmp.nic1.ip_octetpool is defined and environment_definition.vm_setting.infra.winjmp.nic1.ip_octetpool != none) else [ '59', '57' ] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.infra.winjmp.nic1.gtw if (environment_definition.vm_setting.infra.winjmp.nic1.gtw is defined and environment_definition.vm_setting.infra.winjmp.nic1.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.infra.winjmp.nic1.gtw_octet if (environment_definition.vm_setting.infra.winjmp.nic1.gtw_octet is defined and environment_definition.vm_setting.infra.winjmp.nic1.gtw_octet != none) else '62' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.infra.winjmp.nic1.netmask if (environment_definition.vm_setting.infra.winjmp.nic1.netmask is defined and environment_definition.vm_setting.infra.winjmp.nic1.netmask != none) else '255.255.255.192' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.infra.winjmp.nic1.netname if (environment_definition.vm_setting.infra.winjmp.nic1.netname is defined and environment_definition.vm_setting.infra.winjmp.nic1.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.infra.winjmp.nic1.network if (environment_definition.vm_setting.infra.winjmp.nic1.network is defined and environment_definition.vm_setting.infra.winjmp.nic1.network != none) else 'Internal-Net' }}"

      # Network interface 2
      ################
      nic2:

        # Interface name
        name: "{{ environment_definition.vm_setting.infra.winjmp.nic2.name if (environment_definition.vm_setting.infra.winjmp.nic2.name is defined and environment_definition.vm_setting.infra.winjmp.nic2.name != none) else 'ens192' }}"

        # IP pool
        ip_pool: "{{ environment_definition.vm_setting.infra.winjmp.nic2.ip_pool if (environment_definition.vm_setting.infra.winjmp.nic2.ip_pool is defined and environment_definition.vm_setting.infra.winjmp.nic2.ip_pool != none) else [] }}"

        # IP fourth octet pool
        ip_octetpool: "{{ environment_definition.vm_setting.infra.winjmp.nic2.ip_octetpool if (environment_definition.vm_setting.infra.winjmp.nic2.ip_octetpool is defined and environment_definition.vm_setting.infra.winjmp.nic2.ip_octetpool != none) else [ '75', '73' ] }}"

        # Gateway
        gtw: "{{ environment_definition.vm_setting.infra.winjmp.nic2.gtw if (environment_definition.vm_setting.infra.winjmp.nic2.gtw is defined and environment_definition.vm_setting.infra.winjmp.nic2.gtw != none) else '' }}"

        # Gateway fourth octet
        gtw_octet: "{{ environment_definition.vm_setting.infra.winjmp.nic2.gtw_octet if (environment_definition.vm_setting.infra.winjmp.nic2.gtw_octet is defined and environment_definition.vm_setting.infra.winjmp.nic2.gtw_octet != none) else '94' }}"

        # Netmask
        netmask: "{{ environment_definition.vm_setting.infra.winjmp.nic2.netmask if (environment_definition.vm_setting.infra.winjmp.nic2.netmask is defined and environment_definition.vm_setting.infra.winjmp.nic2.netmask != none) else '255.255.255.224' }}"

        # Net Name
        netname: "{{ environment_definition.vm_setting.infra.winjmp.nic2.netname if (environment_definition.vm_setting.infra.winjmp.nic2.netname is defined and environment_definition.vm_setting.infra.winjmp.nic2.netname != none) else '' }}"

        # Net Base
        netbase: "{{ environment_definition.vm_setting.infra.winjmp.nic2.network if (environment_definition.vm_setting.infra.winjmp.nic2.network is defined and environment_definition.vm_setting.infra.winjmp.nic2.network != none) else 'Customer-Net-Inside' }}"
