##################################################################################
# VM specific information
##################################################################################
vm_vars:

  ################
  # EM7 VMs
  ################
  em7:

    # number of CPUs
    cpu: "{{ environment_definition.vm_size.em7.cpu if (environment_definition.vm_size.em7.cpu is defined and environment_definition.vm_size.em7.cpu != none) else '4' }}"

    # Memory size in GiB
    memory: "{{ environment_definition.vm_size.em7.memory if (environment_definition.vm_size.em7.memory is defined and environment_definition.vm_size.em7.memory != none) else '8' }}"

    # Disks sizing in GiB
    disk0: "{{ environment_definition.vm_size.em7.disk0 if (environment_definition.vm_size.em7.disk0 is defined and environment_definition.vm_size.em7.disk0 != none) else '160' }}"
    disk1: "{{ environment_definition.vm_size.em7.disk1 if (environment_definition.vm_size.em7.disk1 is defined and environment_definition.vm_size.em7.disk1 != none) else '0' }}"
    disk2: "{{ environment_definition.vm_size.em7.disk2 if (environment_definition.vm_size.em7.disk2 is defined and environment_definition.vm_size.em7.disk2 != none) else '0' }}"
    disk3: "{{ environment_definition.vm_size.em7.disk3 if (environment_definition.vm_size.em7.disk3 is defined and environment_definition.vm_size.em7.disk3 != none) else '0' }}"

    # Network interface 1
    ################
    nic1:

      # Interface name
      name: 'ens160'

      # IP fourth octet pool
      ip_octetpool: [ '13' ]

      # Gateway fourth octet
      gtw_octet: ''

      # Netmask
      netmask: '255.255.255.192'

      # Network name
      network: '{{ "QS-{{ customer.name_prefix }}-{{ customer.octets | replace(\".\", \"-\") }}-0-26-int" }}'

    # Network interface 2
    ################
    nic2:

      # Interface name
      name: 'ens192'

      # IP fourth octet pool
      ip_octetpool: [ '65' ]

      # Gateway fourth octet
      gtw_octet: '94'

      # Netmask
      netmask: '255.255.255.224'

      # Network name
      network: '{{ "QS-{{ customer.name_prefix }}-db-heartbeat" }}'


  ################
  # Splunk VMs
  ################
  spl:

    # number of CPUs
    cpu: "{{ environment_definition.vm_size.spl.cpu if (environment_definition.vm_size.spl.cpu is defined and environment_definition.vm_size.spl.cpu != none) else '8' }}"

    # Memory size in GiB
    memory: "{{ environment_definition.vm_size.spl.memory if (environment_definition.vm_size.spl.memory is defined and environment_definition.vm_size.spl.memory != none) else '16' }}"

    # Disks sizing in GiB
    disk0: "{{ environment_definition.vm_size.spl.disk0 if (environment_definition.vm_size.spl.disk0 is defined and environment_definition.vm_size.spl.disk0 != none) else '37' }}"
    disk1: "{{ environment_definition.vm_size.spl.disk1 if (environment_definition.vm_size.spl.disk1 is defined and environment_definition.vm_size.spl.disk1 != none) else '50' }}"
    disk2: "{{ environment_definition.vm_size.spl.disk2 if (environment_definition.vm_size.spl.disk2 is defined and environment_definition.vm_size.spl.disk2 != none) else '100' }}"
    disk3: "{{ environment_definition.vm_size.spl.disk3 if (environment_definition.vm_size.spl.disk3 is defined and environment_definition.vm_size.spl.disk3 != none) else '200' }}"

    # Network interface 1
    ################
    nic1:

      # Interface name
      name: 'ens160'

      # IP fourth octet pool
      ip_octetpool: [ '20' ]

      # Gateway fourth octet
      gtw_octet: '62'

      # Netmask
      netmask: '255.255.255.192'

      # Network name
      network: '{{ "QS-{{ customer.name_prefix }}-{{ customer.octets | replace(\".\", \"-\") }}-0-26-int" }}'

    # Network interface 2
    ################
    nic2:

      # Interface name
      name: ''

      # IP fourth octet pool
      ip_octetpool: []

      # Gateway fourth octet
      gtw_octet: ''

      # Netmask
      netmask: ''

      # Network name
      network: ''


  ################
  # Linux jump servers
  ################
  lnxjmp:

    # number of CPUs
    cpu: "{{ environment_definition.vm_size.lnxjmp.cpu if (environment_definition.vm_size.lnxjmp.cpu is defined and environment_definition.vm_size.lnxjmp.cpu != none) else '2' }}"

    # Memory size in GiB
    memory: "{{ environment_definition.vm_size.lnxjmp.memory if (environment_definition.vm_size.lnxjmp.memory is defined and environment_definition.vm_size.lnxjmp.memory != none) else '8' }}"

    # Disks sizing in GiB
    disk0: "{{ environment_definition.vm_size.lnxjmp.disk0 if (environment_definition.vm_size.lnxjmp.disk0 is defined and environment_definition.vm_size.lnxjmp.disk0 != none) else '37' }}"
    disk1: "{{ environment_definition.vm_size.lnxjmp.disk1 if (environment_definition.vm_size.lnxjmp.disk1 is defined and environment_definition.vm_size.lnxjmp.disk1 != none) else '25' }}"
    disk2: "{{ environment_definition.vm_size.lnxjmp.disk2 if (environment_definition.vm_size.lnxjmp.disk2 is defined and environment_definition.vm_size.lnxjmp.disk2 != none) else '0' }}"
    disk3: "{{ environment_definition.vm_size.lnxjmp.disk3 if (environment_definition.vm_size.lnxjmp.disk3 is defined and environment_definition.vm_size.lnxjmp.disk3 != none) else '0' }}"

    # Network interface 1
    ################
    nic1:

      # Interface name
      name: 'ens160'

      # IP fourth octet pool
      ip_octetpool: [ '58' ]

      # Gateway fourth octet
      gtw_octet: ''

      # Netmask
      netmask: '255.255.255.192'

      # Network name
      network: '{{ "QS-{{ customer.name_prefix }}-{{ customer.octets | replace(\".\", \"-\") }}-0-26-int" }}'

    # Network interface 2
    ################
    nic2:

      # Interface name
      name: 'ens192'

      # IP fourth octet pool
      ip_octetpool: [ '76' ]

      # Gateway fourth octet
      gtw_octet: '94'

      # Netmask
      netmask: '255.255.255.224'

      # Network name
      network: '{{ "QS-{{ customer.name_prefix }}-{{ customer.octets | replace(\".\", \"-\") }}-64-27-cust" }}'


  ################
  # Relay servers
  ################
  rly:

    # number of CPUs
    cpu: "{{ environment_definition.vm_size.rly.cpu if (environment_definition.vm_size.rly.cpu is defined and environment_definition.vm_size.rly.cpu != none) else '4' }}"

    # Memory size in GiB
    memory: "{{ environment_definition.vm_size.rly.memory if (environment_definition.vm_size.rly.memory is defined and environment_definition.vm_size.rly.memory != none) else '8' }}"

    # Disks sizing in GiB
    disk0: "{{ environment_definition.vm_size.rly.disk0 if (environment_definition.vm_size.rly.disk0 is defined and environment_definition.vm_size.rly.disk0 != none) else '37' }}"
    disk1: "{{ environment_definition.vm_size.rly.disk1 if (environment_definition.vm_size.rly.disk1 is defined and environment_definition.vm_size.rly.disk1 != none) else '25' }}"
    disk2: "{{ environment_definition.vm_size.rly.disk2 if (environment_definition.vm_size.rly.disk2 is defined and environment_definition.vm_size.rly.disk2 != none) else '100' }}"
    disk3: "{{ environment_definition.vm_size.rly.disk3 if (environment_definition.vm_size.rly.disk3 is defined and environment_definition.vm_size.rly.disk3 != none) else '450' }}"

    # Network interface 1
    ################
    nic1:

      # Interface name
      name: 'ens160'

      # IP fourth octet pool
      ip_octetpool: [ '1' ]

      # Gateway fourth octet
      gtw_octet: ''

      # Netmask
      netmask: '255.255.255.192'

      # Network name
      network: '{{ "QS-{{ customer.name_prefix }}-{{ customer.octets | replace(\".\", \"-\") }}-0-26-int" }}'

    # Network interface 2
    ################
    nic2:

      # Interface name
      name: 'ens192'

      # IP fourth octet pool
      ip_octetpool: [ '97' ]

      # Gateway fourth octet
      gtw_octet: '123'

      # Netmask
      netmask: '255.255.255.224'

      # Network name
      network: '{{ "QS-{{ customer.name_prefix }}-{{ customer.octets | replace(\".\", \"-\") }}-96-27-lbnet" }}'
