---
# Variables for all hosts

##################################################################################
# Customer specific information
##################################################################################
customer:

  # Official build name
  name: '{{ customer_definition.customer_name }}'

  # Name prefix
  name_prefix: '{{ customer_definition.primary_name_prefix }}'

  # First 3 octets
  octets: '{{ customer_definition.primary_octets }}'

  # Release version
  release: '{{ customer_definition.release_version }}'


##################################################################################
# Datacenter where the stack is to be built in
##################################################################################
datacenter:

  # Available datacenters: RTP5, PAE-Customer-Build, cdra-Build-Development, PAE-HX-DC
  name: '{{ customer_definition.datacenter_name }}'

  # ONLY for on-premise deployments, define the list of esxi hosts (resources) to use
  # For hosted deployments DO NOT TOUCH
  resources: [{{  customer_definition.datacenter_resources  }}]

  # ONLY for on-premise deployments, define the esxi hosts username ONLY if different than the standard
  # For hosted deployments DO NOT TOUCH
  hostuser: '{{ customer_definition.esxi_host_username }}'

  # ONLY for on-premise deployments, define the esxi hosts password ONLY if different than the standard
  # For hosted deployments DO NOT TOUCH
  hostpass: '{{ customer_definition.esxi_host_password }}'


