
    dr:
      children:
        drinfra:
          children:
            drcsr:
              hosts:
#                drcsr[01:01]:
            drnsvpx:
              hosts:
#                drnsvpx[01:01]:
            drwinjmp:
              hosts:
#                drwinjmp[01:01]:
        drem7:
          children:
            drem7db:
              hosts:
                drem7db[01:01]:
            drem7dc:
              hosts:
                drem7dc[01:{{ '%02d' | format(number_of_dcs|int / 2) }}]:
            drem7mc:
              hosts:
                drem7mc[01:01]:
            drem7prt:
              hosts:
                drem7prt[01:01]:
        drspl:
          children:
            drsplsrc:
              hosts:
                drsplsrc[01:01]:
            drsplind:
              hosts:
                drsplind[01:01]:
            drsplmas:
              hosts:
                drsplmas[01:01]:
            drspldpl:
              hosts:
                drspldpl[01:01]:
        drlnxjmp:
          hosts:
            drlnxjmp[01:01]:
        drrly:
          hosts:
            drrly[01:01]:
