all:
  children:
    bastion:
      hosts:
        bastion[01:01]:
    vcenter:
      hosts:
        vcenter[01:01]:
    puppet:
      hosts:
        puppet[{{ environment_definition.puppet.primary.server_name[-2:] }}:{{ environment_definition.puppet.primary.server_name[-2:] }}]:
{% if environment_definition.customer.deployment_model is not search('s|h') %}
    nexus:
      hosts:
        nexus[01:02]:
{% endif %}
    stack:
      children:
        infra:
          children:
            csr:
              hosts:
                csr[01:02]:
            nsvpx:
              hosts:
                nsvpx[01:02]:
            winjmp:
              hosts:
                winjmp[01:{{ '02' if environment_definition.customer.deployment_model is regex('a|u') else '01' }}]:
        em7:
          children:
            em7db:
              hosts:
                em7db[01:02]:
            em7dc:
              hosts:
                em7dc[01:{{ '%02d' | format(number_of_dcs|int) }}]:
            em7mc:
              hosts:
                em7mc[01:{{ '%02d' | format(number_of_mcs|int) }}]:
            em7prt:
              hosts:
                em7prt[01:{{ '%02d' | format(number_of_prts|int) }}]:
        spl:
          children:
            splsrc:
              hosts:
                splsrc[01:02]:
            splind:
              hosts:
                splind[01:02]:
            splmas:
              hosts:
                splmas[01:02]:
            spldpl:
              hosts:
                spldpl[01:02]:
        lnxjmp:
          hosts:
            lnxjmp[01:{{ '02' if environment_definition.customer.deployment_model is regex('a|u') else '01' }}]:
        rly:
          hosts:
            rly[01:02]:
{% if environment_definition.customer.ata %}
{% block ata %}
        atarly:
          hosts:
            atarly[01:01]:
{% endblock ata %}
{% endif %}
