127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4
::1 localhost localhost.localdomain localhost6 localhost6.localdomain6

#### Host Alias Names ####
{{ vip.mc + "\tem7-message-collector-vip" }}
{{ vip.db + "\tem7-db-vip" }}
{{ vip.prt + "\tem7-admin-portal-vip" }}
{{ vip.src + "\tsplunk-search-head-vip" }}
{{ (spldpl_ip1_list[0] if spldpl_ip1_list is defined else spl_ip1_list[0]) + "\tsplunk-deployer-server" }}
{{ vip.rly + "\trelay-vip" }}
{{ vip.rly_db +	"\trelay-db-vip" }}
{{ rly_ip1_list|first + "\trelay-site1-server01" }}
{{ rly_ip1_list|last + "\trelay-site2-server01" }}
{{ splunk.he_deployment_server_ip + "\tsplunk-head-deployment-server" }}
{{ splunk.he_indexer01_ip + "\tsplunk-head-indexer01" }}
{{ splunk.he_indexer01_ip + "\tsplunk-head-indexer02" }}
{{ (splind_ip1_list[0] if splind_ip1_list is defined else spl_ip1_list[0]) + "\tsplunk-site1-indexer01" }}
{{ (splind_ip1_list[1] if splind_ip1_list is defined else spl_ip1_list[0]) + "\tsplunk-site2-indexer01" }}
{{ (splsrc_ip1_list[0] if splsrc_ip1_list is defined else spl_ip1_list[0]) + "\tsplunk-site1-search-head01" }}
{{ (splsrc_ip1_list[1] if splsrc_ip1_list is defined else spl_ip1_list[0]) + "\tsplunk-site2-search-head01" }}
{{ splunk.license_master_ip + "\tsplunk-license-master" }}
{{ (splmas_ip1_list[0] if splmas_ip1_list is defined else spl_ip1_list[0]) + "\tsplunk-cluster-master" }}
{{ splunk.mom_clustermaster_ip + "\tmom-splunk-cluster-master" }}
{{ splunk.mom_indexer1_ip + "\tsplunk-momidx-01" }}
{{ splunk.mom_indexer2_ip + "\tsplunk-momidx-02" }}
{{ splunk.mom_rly_vip + "\tmom-relay-vip" }}
{{ splunk.mom_clustermaster_ip + "\tsplunk-mom-cluster-master" }}

#### Host Names ####
{{ puppet.ipaddress + "\t" + puppet.vmname + "\t" + puppet.fqdn }}
{{ yum.ipaddress + "\t" + yum.vmname + "\t" + yum.fqdn }}

{{ lnxjmp_ip1_list[0] + "\t" + lnxjmp_hst_list[0] + "\t" + lnxjmp_hst_list[0] + '.' + sysconfig.domain_name }}
{{ lnxjmp_ip1_list[1] + "\t" + lnxjmp_hst_list[1] + "\t" + lnxjmp_hst_list[1] + '.' + sysconfig.domain_name if lnxjmp_ip1_list|length >= 2 else '' }}

{{ rly_ip1_list[0] + "\t" + rly_hst_list[0] + "\t" + rly_hst_list[0] + '.' + sysconfig.domain_name }}
{{ rly_ip1_list[1] + "\t" + rly_hst_list[1] + "\t" + rly_hst_list[1] + '.' + sysconfig.domain_name if rly_ip1_list|length >= 2 else '' }}

{% if groups['atarly'] is defined %}
{% block ata %}
{{ atarly_ip1_list[0] + "\t" + atarly_hst_list[0] + "\t" + atarly_hst_list[0] + '.' + sysconfig.domain_name }}
{% endblock ata %}
{% endif %}

{{ spl_ip1_list[0] + "\t" + spl_hst_list[0] + "\t" + spl_hst_list[0] + '.' + sysconfig.domain_name if spl_ip1_list is defined else '' }}
{{ splsrc_ip1_list[0] + "\t" + splsrc_hst_list[0] + "\t" + splsrc_hst_list[0] + '.' + sysconfig.domain_name if splsrc_ip1_list is defined else '' }}
{{ splsrc_ip1_list[1] + "\t" + splsrc_hst_list[1] + "\t" + splsrc_hst_list[1] + '.' + sysconfig.domain_name if splsrc_ip1_list|default([])|length >= 2 else '' }}
{{ splind_ip1_list[0] + "\t" + splind_hst_list[0] + "\t" + splind_hst_list[0] + '.' + sysconfig.domain_name if splind_ip1_list is defined else '' }}
{{ splind_ip1_list[1] + "\t" + splind_hst_list[1] + "\t" + splind_hst_list[1] + '.' + sysconfig.domain_name if splind_ip1_list|default([])|length >= 2 else '' }}
{{ splmas_ip1_list[0] + "\t" + splmas_hst_list[0] + "\t" + splmas_hst_list[0] + '.' + sysconfig.domain_name if splmas_ip1_list is defined else '' }}
{{ splmas_ip1_list[1] + "\t" + splmas_hst_list[1] + "\t" + splmas_hst_list[1] + '.' + sysconfig.domain_name if splmas_ip1_list|default([])|length >= 2 else '' }}
{{ spldpl_ip1_list[0] + "\t" + spldpl_hst_list[0] + "\t" + spldpl_hst_list[0] + '.' + sysconfig.domain_name if spldpl_ip1_list is defined else '' }}
{{ spldpl_ip1_list[1] + "\t" + spldpl_hst_list[1] + "\t" + spldpl_hst_list[1] + '.' + sysconfig.domain_name if spldpl_ip1_list|default([])|length >= 2 else '' }}

{{ em7_ip1_list[0] + "\t" + em7_hst_list[0] + "\t" + em7_hst_list[0] + '.' + sysconfig.domain_name if em7_ip1_list is defined else '' }}
{{ db_ip1_list[0] + "\t" + db_hst_list[0] + "\t" + db_hst_list[0] + '.' + sysconfig.domain_name if db_ip1_list is defined else '' }}
{{ db_ip1_list[1] + "\t" + db_hst_list[1] + "\t" + db_hst_list[1] + '.' + sysconfig.domain_name if db_ip1_list|default([])|length >= 2 else '' }}
{{ drdb_ip1_list[0] + "\t" + drdb_hst_list[0] + "\t" + drdb_hst_list[0] + '.' + sysconfig.domain_name if customer.disaster_recovery else '' }}

{{ prt_ip1_list[0] + "\t" + prt_hst_list[0] + "\t" + prt_hst_list[0] + '.' + sysconfig.domain_name if prt_ip1_list is defined else '' }}
{{ prt_ip1_list[1] + "\t" + prt_hst_list[1] + "\t" + prt_hst_list[1] + '.' + sysconfig.domain_name if prt_ip1_list|default([])|length >= 2 else '' }}
{{ prt_ip1_list[2] + "\t" + prt_hst_list[2] + "\t" + prt_hst_list[2] + '.' + sysconfig.domain_name if prt_ip1_list|default([])|length >= 3 else '' }}
{{ prt_ip1_list[3] + "\t" + prt_hst_list[3] + "\t" + prt_hst_list[3] + '.' + sysconfig.domain_name if prt_ip1_list|default([])|length >= 4 else '' }}

{{ mc_ip1_list[0] + "\t" + mc_hst_list[0] + "\t" + mc_hst_list[0] + '.' + sysconfig.domain_name if mc_ip1_list is defined else '' }}
{{ mc_ip1_list[1] + "\t" + mc_hst_list[1] + "\t" + mc_hst_list[1] + '.' + sysconfig.domain_name if mc_ip1_list|default([])|length >= 2 else '' }}
{{ mc_ip1_list[2] + "\t" + mc_hst_list[2] + "\t" + mc_hst_list[2] + '.' + sysconfig.domain_name if mc_ip1_list|default([])|length >= 3 else '' }}
{{ mc_ip1_list[3] + "\t" + mc_hst_list[3] + "\t" + mc_hst_list[3] + '.' + sysconfig.domain_name if mc_ip1_list|default([])|length >= 4 else '' }}
{{ mc_ip1_list[4] + "\t" + mc_hst_list[4] + "\t" + mc_hst_list[4] + '.' + sysconfig.domain_name if mc_ip1_list|default([])|length >= 5 else '' }}
{{ mc_ip1_list[5] + "\t" + mc_hst_list[5] + "\t" + mc_hst_list[5] + '.' + sysconfig.domain_name if mc_ip1_list|default([])|length >= 6 else '' }}

{{ dc_ip1_list[0] + "\t" + dc_hst_list[0] + "\t" + dc_hst_list[0] + '.' + sysconfig.domain_name if dc_ip1_list is defined else '' }}
{{ dc_ip1_list[1] + "\t" + dc_hst_list[1] + "\t" + dc_hst_list[1] + '.' + sysconfig.domain_name if dc_ip1_list|default([])|length >= 2 else '' }}
{{ dc_ip1_list[2] + "\t" + dc_hst_list[2] + "\t" + dc_hst_list[2] + '.' + sysconfig.domain_name if dc_ip1_list|default([])|length >= 3 else '' }}
{{ dc_ip1_list[3] + "\t" + dc_hst_list[3] + "\t" + dc_hst_list[3] + '.' + sysconfig.domain_name if dc_ip1_list|default([])|length >= 4 else '' }}
{{ dc_ip1_list[4] + "\t" + dc_hst_list[4] + "\t" + dc_hst_list[4] + '.' + sysconfig.domain_name if dc_ip1_list|default([])|length >= 5 else '' }}
{{ dc_ip1_list[5] + "\t" + dc_hst_list[5] + "\t" + dc_hst_list[5] + '.' + sysconfig.domain_name if dc_ip1_list|default([])|length >= 6 else '' }}
{{ dc_ip1_list[6] + "\t" + dc_hst_list[6] + "\t" + dc_hst_list[6] + '.' + sysconfig.domain_name if dc_ip1_list|default([])|length >= 7 else '' }}
{{ dc_ip1_list[7] + "\t" + dc_hst_list[7] + "\t" + dc_hst_list[7] + '.' + sysconfig.domain_name if dc_ip1_list|default([])|length >= 8 else '' }}
{{ dc_ip1_list[8] + "\t" + dc_hst_list[8] + "\t" + dc_hst_list[8] + '.' + sysconfig.domain_name if dc_ip1_list|default([])|length >= 9 else '' }}
{{ dc_ip1_list[9] + "\t" + dc_hst_list[9] + "\t" + dc_hst_list[9] + '.' + sysconfig.domain_name if dc_ip1_list|default([])|length >= 10 else '' }}
{{ dc_ip1_list[10] + "\t" + dc_hst_list[10] + "\t" + dc_hst_list[10] + '.' + sysconfig.domain_name if dc_ip1_list|default([])|length >= 11 else '' }}
{{ dc_ip1_list[11] + "\t" + dc_hst_list[11] + "\t" + dc_hst_list[11] + '.' + sysconfig.domain_name if dc_ip1_list|default([])|length >= 12 else '' }}
