  splunk_phantom:
    hosts:
      {{ customer.primary.name_prefix + 'splphn' + customer.env_identifier }}01:
        mgt_port: 443

  splunk_cluster_master:
    hosts:
      {{ customer.primary.name_prefix + 'splmas' + customer.env_identifier }}01:

  # After adding a new forwader update customer_la_deployed.yml
  splunk_heavy_forwarder:
    hosts:
      {{ vm.name }}:
    vars:
      splunk:
        role: splunk_heavy_forwarder
