  # After adding a new forwader update deployed_customers_X__inventory.yml
  splunk_heavy_forwarder:
    hosts:
      {{ vm.name }}:
    vars:
      splunk:
        role: splunk_heavy_forwarder
        yum_proxy_enabled:  true
        TA_proxy_enabled:  true
