threatq:
  settings:
    loglevel: INFO
    import_timeout: 500
    username: splnk7689
    email: splnk7689@cisco.com
    server_url: cisco-mdr-test.threatq.online
    password: lthkHZwUOLAbDkmuxcbQ
    client_id: 8264d8dbd0204d90a80d9b6f5f102467
  input:
    name: MDR
    interval: 60
    threshold_score: 7
    index: threatq_indicators
    export_id: cbd798f32ce26965006c606eeca3daca
    export_token: jTQYVM9se3kVvLmD0ewL
