  splunk_phantom:
    hosts:
      {{ hostvars[groups['splphn'][0]]['vm']['name'] if groups['splphn'] is defined else splphn_list[0] }}:
    vars:
      phantom:
        mgt_port: 443
        username: phantom
        group: phantom

  splunk_cluster_master:
    hosts:
      {{ hostvars[groups['splmas'][0]]['vm']['name'] if groups['splmas'] is defined else splmas_list[0] }}:
    vars:
      splunk:
        role: splunk_cluster_master
        site: site1

  splunk_indexer:
    hosts:
      {{ hostvars[groups['splind'][0]]['vm']['name'] if groups['splind'] is defined else splind_list[0] }}:
        splunk:
          site: site1
      {{ hostvars[groups['splind'][1]]['vm']['name'] if groups['splind'] is defined else splind_list[1] }}:
        splunk:
          site: site2
      {{ hostvars[groups['splind'][2]]['vm']['name'] if groups['splind'] is defined else splind_list[2] }}:
        splunk:
          site: site3
    vars:
      splunk:
        role: splunk_indexer
        s2s_enable: true
        s2s_port: 9997

  splunk_deployer:
    hosts:
      {{ hostvars[groups['spldplr'][0]]['vm']['name'] if groups['spldplr'] is defined else spldplr_list[0] }}:
    vars:
      splunk:
        role: splunk_deployer
        site: site0

  splunk_search_head:
    hosts:
      {{ hostvars[groups['splmth'][2]]['vm']['name'] if groups['splmth'] is defined else splmth_list[2] }}:
        splunk_search_head_captain: false
      {{ hostvars[groups['splmth'][1]]['vm']['name'] if groups['splmth'] is defined else splmth_list[1] }}:
        splunk_search_head_captain: false
      {{ hostvars[groups['splmth'][0]]['vm']['name'] if groups['splmth'] is defined else splmth_list[0] }}:
        splunk_search_head_captain: true
    vars:
      splunk:
        role: splunk_search_head
        site: site0
        hostname: {{ hostvars[groups['splmth'][0]]['vm']['name'] if groups['splmth'] is defined else splmth_list[0] }}
        # ^^ Host name is the searchhead captain
        trustedIP: "127.0.0.1, 172.29.9.82"

#  splunk_deployment_server:
#    hosts:
#      {{ hostvars[groups['spldpl'][0]]['vm']['name'] if groups['spldpl'] is defined else spldpl_list[0] }}:
#    vars:
#      splunk:
#        role: splunk_deployment_server
